[2014-03-17 08:53] jodosha opened #5 "When an exception is caught, set a reference in `rack.errors`"
After a discussion with @troyk (see #4), we've noticed that the exception handling isn't compliant to the [Rack spec](http://rack.rubyforge.org/doc/SPEC.html).

Actually, when an exception is [raised](https://github.com/lotus/controller/blob/master/lib/lotus/action/throwable.rb#L119), it's [swallowed](https://github.com/lotus/controller/blob/master/lib/lotus/action/throwable.rb#L120), and the fram

[2014-06-12 08:20] jodosha opened #15 "Implement Action#format"
Look at the value of `Action#content_type`, and return the associated symbol.

Example:

[code]

Rack has a list of the most common formats listed in `Rack::Mime::MIME_TYPES`.

A trivial implementation could be, but needs to be TDD'd and properly tested:

[code]

The implementation should be added as a public method of `Lotus::Action::Mime`.

[2014-06-16 08:32] #5 closed, assigned to nobody

[2014-06-19 07:49] #15 closed, assigned to nobody

[2014-06-25 13:24] jodosha opened #21 "Share behaviors between actions of the same controller"
It maybe handy to share behaviors across actions belonging to the same controller.

[code]

[2014-06-25 13:58] jodosha opened #22 "Params validations"
Right now, the `params` passed to `#call` are an instance of `Lotus::Action::Params` which is a nice wrapper around a Ruby Hash.

I would love to pass subclasses of `Params` which are aware of the specific use case and they should be able to do:
- [x] White label filtering: only the declared params will be available in the final object passed to `#call`.
- [ ] Coercions (optional feature): coerce

[2014-06-25 14:17] jodosha opened #23 "WebSocket"
WebSocket support! :sparkling_heart:

Example:

[code]

The corresponding client side code:

[code]

[2014-06-28 12:27] jodosha opened #25 "Code reloading"
Make Lotus::Controller compatible with [Rack::Reloader](https://github.com/rack/rack/blob/master/lib/rack/reloader.rb).
The implementation should take care of `Lotus::Controller::Configuration` internals.

[2014-06-28 12:35] jodosha opened #26 "Framework freeze"
The Lotus philosophy for application boot is: load all the code at the beginning, then freeze the parts that may suffer of accidental changes and lead to software defects.

This MUST include:
- [x] `Lotus::Controller.configuration`

  ~~All the configurations of the [single controllers](https://github.com/lotus/controller/blob/master/lib/lotus/controller.rb#L263-264)~~ (Not required anymore becaus

[2014-07-25 16:31] #21 closed, assigned to nobody

[2014-08-08 17:11] #22 closed, assigned to nobody

[2014-08-12 17:01] eriklott opened #39 "Inheritance bug"
I'm using lotus-controller 0.2.0

A standalone controller/action is returning a valid rack response:

[code]

However, if I inherit from a base class, an invalid response is being generated

[code]

Bug?

My original intention is to add a few simple authentication before filters to the base class so that they can be inherited by all subclasses.. but it doesn't look like inheritance is working.

[2014-08-22 14:53] #39 closed, assigned to nobody

[2014-08-25 18:48] activestylus opened #40 "Exception Handling Views"
Currently when you set up your lotus app to handle exceptions, it returns the status code and a default page for said error is rendered by the web server (apache/nginx/etc). For production apps you definitely need custom 404/500 pages. When in doubt I often reach for [Rack Rescue](https://github.com/hassox/rack-rescue) but it seems to have a bit of overlap with some of Lotus functionality. I'd als

[2014-08-26 11:06] #40 closed, assigned to nobody

[2014-10-20 13:13] kirs opened #46 "Exception from `whitelisting?` method in `params.rb`"
Looks like the `attributes` method is not defined at all in `params.rb`:

Here is the stacktrace:

[code]

And the action:

[code]

[2014-10-22 08:15] jodosha opened #49 "[Breaking] Remove Lotus::Controller DSL"
We should deprecate the following API:

[code]

In favor of:

[code]

The reasons are:
- It's not object oriented
- It's magic :sparkles: :wink:
- Why use a DSL where vanilla Ruby is enough?
- It isn't clear what's generated from that API: class or module?
- It encourages controllers to be classes [1].
- It encourages single file controllers.

[1]: We have a convention in Lotus full stack applicat

[2014-11-21 14:24] #26 closed, assigned to jodosha

[2014-11-21 18:40] mattbeedle opened #53 "Validating nested params"
Hey,

It doesn't seem to be possible to validate nested params at the moment. I was hoping this syntax would work:

[code]

[2014-11-23 15:07] #46 closed, assigned to jodosha

[2014-12-04 09:21] #25 closed, assigned to jodosha

[2014-12-04 10:13] #49 closed, assigned to jodosha

[2014-12-05 08:42] jodosha opened #57 "Rename Configuration#modules into #prepare"
Please remember to update the README too.

[2014-12-08 08:33] jodosha opened #59 "Incorrect Mime Type with MRI 2.2.0-preview1 on Ubuntu"
For now it's only verified with Rack <= 1.5, where we apply `lib/rack-patch.rb`.

[code]

Current hypotesis is about a bug of `Array#sort_by`.

EDIT:

[code]

[code]

[2014-12-08 10:33] #59 closed, assigned to jodosha

[2014-12-08 11:04] #57 closed, assigned to nobody

[2014-12-15 15:49] lessless opened #64 "Session is cleared after each request"
Hello! I faced an error using flash: ``undefined method `[]' for nil:NilClass`` and it looks like a bug. Further investigation showed that session is cleared after each request in the Lotus::Action::Callable#finish and thus it's  no wonder that here is no  "__flash" key in the session hash.

[code]

[2014-12-20 11:43] #64 closed, assigned to nobody

[2014-12-22 12:44] lessless opened #65 "Flash in unsable"
Hello! There is a problem with empty flash

[code]

[code]

here is the template

[code]

[2014-12-23 22:40] lasseebert opened #66 "Add a request method?"
When writing code inside an `Action`, I miss having access to a `request` method that returns a `Rack::Request`.

Someting like this:

[code]

I think this could be useful in general, and not just for me. Anyone have an oppinion on this?

And where should it be implemented if so? The most logical place IMO would be in `Params` as the `Params` class already knows about `env`.

- [x] Introduce a `#r

[2014-12-26 16:29] stevehodgkiss opened #67 "Make parameter types required"
For example, `param :id, Integer`

Coercing user input into an expected type is a good practice. Without specifying a type, based on what the parser in rack gives you, you could end up with a string, array, hash, nil or a tempfile. It would be great if lotus made developers think about this and provided guarantees that the parameter would be either the given type or nil.

Rails has had vulnerabili

[2015-01-06 09:17] jodosha commented on #66
During the implementation of the remaining parts, I decided to postpone the support for them, and ship only @lasseebert work.

Encoding: This header is most used by web servers (such Nginx), to compress the response, after it was crafted by the application. It's rare and non slow to compress a request on the Ruby side.

Language: It turned out to be more complex. It involves locales as well, becau

[2015-01-06 09:17] #66 closed

[2015-01-06 09:18] #65 closed

[2015-01-06 21:54] lasseebert commented on #66
I agree that it is non-trivial to parse the `Accept-Language` header in a way that is useful for a big majority of Lotus developers.

My specific case is trivial, and I'm happy that I now can use the Rack request helper method :)

[2015-01-07 07:32] jodosha commented on #66
We're going to release a patch version with this fix on today.

http://lucaguidi.com

[2015-01-09 14:27] jodosha commented on #66
@lasseebert FYI https://rubygems.org/gems/lotus-controller/versions/0.3.1

[2015-01-11 13:26] joneslee85 opened #70 "Lotus::Action::Params should deep symbolise keys of itself"
I posted following nested params to a controller action:

[code]

The controller has access to `params` which is instance of `Lotus::Utils::Attributes`. It works fine with 1 level hash, but with nested level hash, it turns out to be not the case. Let's see this example:

[code]

**UPDATE**: it seems to be this is an issue of `Lotus::Utils::Attributes`, which is lotus/utils. But I want to bring up

[2015-01-11 16:58] jodosha commented on #70
@joneslee85 this is related to #53. We don't handle nested levels of params yet.

[2015-01-11 23:19] joneslee85 commented on #70
@jodosha I don't this is related to #53 at all. I think it is not even related to lotus/controller.

On the second look, it turns out that `params` which is an instance `Lotus::Utils::Attributes`, and this instance does not perform deep symbolise keys upon being initialised. Now I question should we replicate the indifferent hash access at all? Majority of users are still not moving to Ruby 2.2 an

[2015-01-12 08:39] AlfonsoUceda commented on #70
I think this behaviour is correct:
[code]
and this behaviour I think it isn't supported now because the class returned is Utils::Hash and it isn't a Utils::Attributes:
[code]

I think in Utils::Attributes we should create Utils::Attributes instances for deeped hashes

[code]

[2015-01-12 08:41] stevehodgkiss commented on #70
Related: https://github.com/lotus/validations/pull/43

[2015-01-12 09:45] jodosha commented on #70
@joneslee85 I think that what @AlfonsoUceda is correct. We need to guarantee that `Utils::Attributes`  deeply converts nested hashes to instances of `Utils::Attributes`. This should guarantee indifferent access at all the levels.

[code]

RE DDoS and symbols: This is still an issue for Ruby as language. The majority of the VMs that we are trying to target are still affected: MRI 2.2-, JRuby and Ru

[2015-01-12 09:47] jodosha commented on #70
@joneslee85 Yet I think it's still related to #53, because we can't deeply symbolize if we aren't able to whitelist nested params. Still related to DDoS attacks via symbols.

[2015-01-12 10:22] AlfonsoUceda commented on #70
:+1: alternative 1

[2015-01-13 16:44] stevehodgkiss commented on #70
https://github.com/lotus/controller/issues/71 adds necessary changes to controller for nested params and also fixes this issue

[2015-01-15 13:53] benedikt opened #72 "Rack middleware is not working correctly"
The current implementation of `Lotus::Action::Rack.use` doesn't support passing the app to the middleware. To allow intercepting of requests and responses, Rack middleware is usually implemented like this:

[code]

The current middleware implementation just passes the `env` to the middleware's `call` method and therefore doesn't work with middleware that might stop the execution of the middleware

[2015-01-18 21:03] weppos opened #74 "Lotus::Action should not dump the exception if the exception is handled"
Given the following action

[code]

An HTTP request for an invalid resource will correctly render the error message

[code]

However, the exception is also dumped in the log

[code]

making it hard to distinguish handled vs not-handled exceptions. That's because `_rescue` always dumps the error, no matter if it was handled or not.

[code]

My proposal is to dump the exception only if not handled.

[2015-01-18 21:19] weppos opened #75 ":handle_exception doesn't work consistently for Action and Controller"
Given the following configuration

[code]

and the following handler

[code]

If I define the handler in the action, the code is working as expected. If I define the action in the configure block

[code]

the code crashes with error

[code]

Is this expected? Is there any different between the error handling in the action, and in the configuration?

[2015-01-18 21:21] weppos commented on #75
One more thing. Wrapping all into a `prepare` block behaves like Action.

[code]

[2015-01-18 21:41] weppos opened #76 "Ability to configure a filter in a specific position"
Granted that one of @jodosha's goal was to keep callbacks as simple as possible, I have a case that I feel reveal a reasonable improvement.

Let's assume I have a filter called `authenticate!` that must be run on every action.

[code]

On a **very few actions** (that's one of the key conditions), let's say 10 out of 100, I need a specific validation to happen before the authenticate.

[code]

I ca

[2015-01-19 01:16] joneslee85 commented on #76
[code]

FYI, we could extract common callback to module and include them for every actions by configuring it with `controller.prepapre` block in your `Application` class:

Example:

[code]

[2015-01-19 08:13] weppos commented on #76
Yes, and that's part of the problem. If I extract the `:authenticate!`, then it will be hard to prepend a new filter called `:validalite` before `:authenticate!`, because at the moment filters are only appended and not prepended.

[2015-01-19 10:16] jodosha commented on #72
@benedikt Hello and thanks for reporting this.
I do agree with you: currently we only have an half-backed solution for fine grained rack stacks.

We'll try to accommodate this change soon. Which middleware are you trying to mount?

[2015-01-19 10:26] benedikt commented on #72
Hi @jodosha,

thanks for looking into this! At the moment, I'm mostly looking at authentication middleware like warden as well as custom middleware.
I'm happy to help out, but I'm not very familiar with the overall architecture and ideas of this gem, yet.

[2015-01-19 10:29] jodosha commented on #72
@benedikt Hey, thanks for the quick reply. Mr @AlfonsoUceda will be in charge of this. We're discussing about details right now.

[2015-01-19 18:55] jodosha commented on #74
@weppos Good catch. I agree :+1:

[2015-01-19 21:35] jodosha commented on #75
@weppos Thanks for reporting this, but that isn't the way to use `.configure`.
I suggest to use modules: anonymously via `#prepare` or explicitly via the following code:

[code]

[2015-01-19 21:35] #75 closed

[2015-01-19 21:52] weppos commented on #75
@jodosha the inline documentation advertises to use configure `handle_exception` in the controller block. :confused:

[2015-01-20 00:40] joneslee85 commented on #75
@weppos @jodosha we need to provide more docs & examples.

@weppos It'd be great if you could provide a basic example in code comments. Feel free to re-open this issue. TIA

[2015-01-20 10:18] jodosha commented on #72
@benedikt me and @AlfonsoUceda looked at this on yesterday.

We have found a solution, but it still needs to be validated with code.

[2015-01-20 10:20] benedikt commented on #72
Nice! Take your time. It's not super urgent :)

[2015-01-20 10:49] jodosha commented on #75
@weppos Yes, `handle_exception` can be configured in the `.configure` block.

What **isn't allowed** is to define the method inside that block like this.

[code]

**Mine was only a suggestion** to keep the exception handling (`handle_exception`) close to the handler definition (`def handle_record_not_found`) in the same module.

**To recap:** `handle_exception` goes inside `.configure`. The action

[2015-01-21 09:20] #74 closed

[2015-01-21 09:43] jodosha commented on #76
@weppos This is interesting.

`Chain#append` has the same meaning of `Chain#add`. But we can rename it for consistency if introduce the other methods.

Would `Chain#prepend` solve your case?
Then how to express this intent in Action DSL? `prepend_callback :validate!`?

I'm a bit skeptical to add `#insert` and `#insert_after` for two reasons:

  1. I don't see an immediate need. But waiting for @we

[2015-01-21 11:05] weppos commented on #76
Hi @jodosha, let me answer piece by piece.

Yes, that was my idea.

Yes, at the time being it will solve my case. However, I was trying to thing outside my specific need, for a broader audience.

[2015-01-21 11:11] weppos commented on #76
Hi @jodosha, let me answer piece by piece.

Yes, that was my idea.

Yes, at the time being it will solve my case. However, I was trying to thing outside my specific need, for a broader audience.

As I said, in my specific case, `prepend` is enough. However, that's because my actions are fairly simple right now and I only have a very limited set of filters.

In a longer chain, however, it may make

[2015-01-21 13:37] jodosha commented on #76
@weppos Thanks for the complete reply.

The developer who injects the new logic, may be not in control of the original definition of a lambda callback. For instance, imagine a customization on a OSS product like Discourse or Spree, but written with Lotus. The developer can't modify the original code, unless to write some monkey-patching hack.

She or he, won't be able to do this kind of advanced m

[2015-01-21 13:43] weppos commented on #76
Correct. That's why I'm suggesting that we set as a requirement that you can insert only before/after a named callback.

If you have a chain of callback composed by

    [:method_alpha, lambda, lambda, :method_beta, :method_gamma, lambda]

You can call

    insert_before(:method_beta, :method_delta)
    # => [:method_alpha, lambda, lambda, method_delta, :method_beta, :method_gamma, lambda]

    in

[2015-01-25 10:20] weppos opened #79 "Ability to access unfiltered request parameters"
This is the result of a chat I had with @jodosha about a real-world scenario.

## Scenario

Let's suppose I configure an action with some param whitelisting.

[code]

Once the action is triggered, the `params` object will return a filtered list of params. Therefore, if the action is called with

    POST /signup?first_name=Simone&last_name=Carletti&email=whatever&foo=bar

the action will strip the

[2015-01-25 10:52] AlfonsoUceda commented on #79
Ok, you don't have to `params[:return_to]` because params only has `first_name`, `last_name`and `email`, isn't it?

Yes, then we have an API separating the whitelisted params and all params or no-whitelisted params.
API
-
* `params.raw[:whatever]`
* `params.whitelisted[:other]`

What do you think? I prefer `whitelisted` than `original`

[2015-01-25 10:55] weppos commented on #79
I don't think we should have two API. `params` should always represent the expected, (filtered if required) param list.

However, there should be a way to access the original, unfiltered list. If no param filtering is set, then `params` and `params.original` (or whatever name is) would be the same.

[2015-01-25 10:58] AlfonsoUceda commented on #79
Ok, I prefer too, this change doesn't break params api and it only adds the `original` or `raw` params. :+1:

[2015-01-26 19:24] jodosha commented on #79
### API

Quoting @weppos

:+1: This will keep the existing whitelisting semantic.

I'm for naming it `#raw`.

### Technical implementation

We can rename `Params#_params` with `Params#_raw`.

This method should memoize the result of that computation in `@raw`. This should be a `Lotus::Utils::Attributes` instance, in order to guarantee "indifferent access" until we drop support for 2.2-.

As last t

[2015-01-26 20:38] AlfonsoUceda commented on #72
@benedikt fixed in master in lotus/controller and lotus/router, this will be released soon ;)

[2015-01-26 20:52] jodosha commented on #72
@benedikt can you please try by using the following `Gemfile` configuration? Please report if it works or if there are other issues. We want to make sure that this works for you before to release it. Thank you. :hamster:

[code]

[2015-01-26 23:11] Emily commented on #67
I'd be a huge fan of this change (even if it's only required by default). However, I think #53 would have to be done first.

[2015-01-27 09:00] jodosha commented on #67
@Emily I'd love to hear more about your use case and why do you think it should be the default.

RE #53 is about to be implemented: see #71

[2015-01-27 18:02] Emily commented on #67
@jodosha I've seen many times where developers have simply forgotten to properly whitelist and coerce request parameters. Making whitelisting and coercing required by default prevents that issue.

Very occasionally there may be some reason that very little to no whitelisting can be done (perhaps there's some endpoint that allows an API consumer to store arbitrary data). In those cases allowing the

[2015-01-28 11:22] jodosha commented on #72
I've tested this feature in isolation here: https://gist.github.com/jodosha/685b6369f9aeb1b01bf7

Closing this. @benedikt Feel free to reopen if it doesn't work for you.

[2015-01-28 11:22] #72 closed

[2015-01-28 11:23] jodosha commented on #53
Resolved by #71

[2015-01-28 11:23] #53 closed

[2015-01-28 11:25] benedikt commented on #72
I haven't had the time to test it, yet. I'll reopen this issue should I have troubles with it. Thanks a lot everyone!

[2015-01-28 11:29] jodosha commented on #67
@Emily Thanks for your explanation. I agree that this is a good practice but make it mandatory is an overhead for developers that I don't want to add to the framework.

From real world applications that we are building, params aren't handled by Lotus at all.
Some of them are HTTP API apps that demand to already in place objects to filter those. Other will prefer to delegate this responsibility to

[2015-01-28 11:54] #79 closed

[2015-01-28 12:05] jodosha commented on #70
This will be fixed with `v0.4.0` when we'll only support VMs with 2.2+ mode.
In that case we could use `Utils::Hash` and safely symbolize params recursively.

[2015-01-28 12:25] stevehodgkiss commented on #67
@jodosha yes, that's what I had in mind, only mandatory if you're whitelisting (with a `params` block).

@Emily if a developer doesn't want to coerce params, they could simply omit the `params do` whitelisting block and access the unfiltered params hash directly.

[2015-01-30 07:56] #76 closed

[2015-02-12 08:56] jodosha opened #87 "Default headers"
Allow the configuration of default headers. All the response will send those default values.
Developers MUST have the chance to override one or more headers in each single action.

Default headers are expressed as a Hash, where keys are the header name and values the header value. The default value SHOULD be an empty Hash.

[code]

[2015-02-20 12:44] #87 closed

[2015-02-26 05:43] ordinaryzelig opened #90 "Exposures persist between requests?"
I noticed that `exposures` doesn't get reset between requests. If the action object is the same between requests, then [exposures being cached via `||=`](https://github.com/lotus/controller/blob/4fafb79b2b58d8ea28be25460f54bd12848e63d8/lib/lotus/action/exposable.rb#L96) will persist between requests as well. In my app, I had to set `@exposures = nil` so that the next time I called `exposures`, it

[2015-02-26 08:24] AlfonsoUceda commented on #90
@ordinaryzelig I believe @exposures doesn't live between request, the `||=` operator is used together `[]` tu push in the array the instance variables.

In your example you instantiate only one time the action and call several time `call` method, In every request the action is instantiate if I am not wrong

[2015-02-26 08:26] jodosha commented on #90
@ordinaryzelig Exposures are cached, because an action instance isn't designed to be reused across HTTP requests. When `lotus-controller` is used by `lotusrb` or `lotus-router` they instantiate an action for each new request.

If you are unit testing that action, you should not care about this aspect, because everything is managed by the higher level components of Lotus.

If you are using this fra

[2015-02-26 08:26] #90 closed

[2015-02-27 04:59] ordinaryzelig commented on #90
Thanks to both of you. I was indeed routing directly to the Action class, not a string. So I defined Action.call as suggested and instantiated manually.

[2015-03-09 22:10] donperi opened #93 "#call method is called even when a before callback does a redirect_to."
Hi everyone!

I'm experimenting some random behaviors.

I have a `before :authenticate!` callback that redirect to '/login' when a session doesn't exist. Simple.

When making the tests for the action I wanted to check that it returns 302 when user isn't  authenticated.

When running the tests, the tests were running the #call method and calling the Repository when it should stop the chain and redi

[2015-03-09 22:16] gotjosh commented on #93
:+1:

[2015-03-09 23:14] luishurtado commented on #93
@donperi what if you set a flag in the before callback and then check for it inside the call method?
If we set as convention (not as a bug) that the call method is always invoked I think we will have controllers more easy to follow and debug. In another words we should give the call method the responsibility of redirect, render, etc... the before callbacks should be responsible for check condition

[2015-03-10 00:55] joneslee85 commented on #93
@donperi did you try with `redirect_to :blah and return`?

[2015-03-10 14:01] donperi commented on #93
@joneslee85 Yes I tried that. Return the redirect and return false, same result.

@luishurtado It can work but for me I think it's a bad practice. Then we have to maintain all the actions that use those callbacks.

[code]
Is this what you trying to explain?

If it is, I think is bad, because we need to add the same code to all actions with that callback.
and if we need another callback with anothe

[2015-03-10 14:14] AlfonsoUceda commented on #93
Hi guys, the problem is the ancestors `call` method chain, `call` method in action always is called.

[2015-03-10 14:36] luishurtado commented on #93
@donperi the following code explains my point:
[code]

[2015-03-10 14:39] AlfonsoUceda commented on #93
@luishurtado the problem is that call method is called, then if you have method like search in database the code is executed.

A clear example is forbid a page an user without privileges, the call method shouldn't be called, IMO

[2015-03-11 14:10] donperi opened #95 "Flash session is nil when doing redirect."
Hello everyone.

I'm having an issue with flash session. I'm setting the flash session and then using a redirect_to.
In the next request I'm expecting to get the value but is returning nil.

[code]

In the view:
[code]

The code is working when the flash is used in the same request. (Using the flash[:errors] in this case.)

[2015-03-11 15:36] jodosha commented on #95
@donperi Hello and thanks for opening this issue. :smile: Have you activated sessions?

Flash is marked as private API for now, because we know that it's unstable. Would you love to take care of this? Please let me know if that is the case. Thank you :smile:

[2015-03-11 15:45] jodosha commented on #93
@donperi Thanks for reporting this issue. I never considered `redirect_to` as a Ruby returning statement. But yeah, it's probably expected by developers to use it as a control flow. :+1: for the fix.

[2015-03-11 15:57] gotjosh commented on #93
@jodosha I know it's not on topic but how would you approach similar functionality w/o using `reditect_to` as a returning statement.

[2015-03-11 16:10] jodosha commented on #93
@gotjosh Please have a look at `Throwable#halt`.

[2015-03-11 16:17] donperi commented on #95
Yes, sessions are activated via

[code]
and it's working fine if I use sessions.

Yes. I can try to take care of it. This would be a good opportunity to share code :smile:

I was reading the code and I think the source of the problem is the request_id key for flash session.

[2015-03-11 16:48] jodosha commented on #95
@donperi Interesting. Any help is appreciated. Thank you.

[2015-03-15 00:06] #93 closed

[2015-03-16 09:36] jodosha commented on #95
Closed by #96

[2015-03-16 09:36] #95 closed

[2015-04-02 16:48] mvader opened #99 "Errors on redirect"
Hi,

I've been trying to get the errors of the previous action after a redirect (which I've seen it's possible according to [lotus/controller code](https://github.com/lotus/controller/blob/master/lib/lotus/action/session.rb#L114)) but I can't. I've also been searching for examples on how to do this right but I found nothing.

I have this on my controller config:
[code]
On my action after the redir

[2015-04-07 09:08] jodosha commented on #99
Hello @mvader Thanks for opening this ticket. Are you using this framework alone, or with `lotusrb`?

[2015-04-07 10:32] mvader commented on #99
I'm using it with lotusrb.
On Apr 7, 2015 11:08 AM, Luca Guidi <notifications@github.com> wrote:Hello @mvader Thanks for opening this ticket. Are you using this framework alone, or with lotusrb?

—Reply to this email directly or view it on GitHub.

[2015-04-08 07:58] jodosha commented on #99
@mvader Which kind of error do you get? Is this related to https://github.com/lotus/lotus/issues/196 ?

[2015-04-09 18:25] mvader commented on #99
I don't get any error. It just doesn't work as expected. I've been able to reproduce even with the fix you mentioned in #196.

Just setup an application with cookies and the session like that:
[code]

Once you've submitted a form with errors, on every other request the retrieved errors via the ```errors``` method are the same, no matter what the input parameters were.

As I said, two cookies are s

[2015-04-18 12:54] jodosha opened #102 "Send file"
Add a `send_file` method to actions, in order to send files to HTTP clients.
Quick and dirty implementation available at: https://github.com/lotus/controller/tree/send-file

[2015-04-18 14:42] jodosha commented on #99
Closing because I think it was fixed by https://github.com/lotus/controller/pull/100

[2015-04-18 14:42] #99 closed

[2015-04-25 20:39] AlfonsoUceda opened #103 "Websocket support"
I don't know if this issue should be here or in lotus repository.

It would be a good idea lotus supports websocket.

What do you think?

[2015-04-29 19:56] gotjosh opened #104 "Wrong format on Internet Explorer"
Howdy fellow lotus lovers!

I noticed that two of my Lotus Production apps won't allow Internet Explorer access. They would immediately throw a 500 error when trying to access them. After some digging, these are my findings:

The `HTTP_ACCEPT` header that IE (short for Internet Explorer from now on) is coming with; is `text/html, application/xhtml+xml, image/jxr, */*` when checking `self.format` i

[2015-05-04 09:48] jodosha commented on #104
@gotjosh Hello and thanks for reporting this problem. I'm going to investigate and decide what to do. It's a blurry line between Rack and Lotus::Controller :smile_cat:

[2015-05-04 10:04] jodosha commented on #104
@gotjosh I'm a confused. First of all, I've introduced a test to verify the failure that you've reported, but it's passing without changing a line in the production code (see https://github.com/lotus/controller/commit/31e929b395acaea11340c47da53274372d70c1e4). From this perspective looks like a "non-bug".

However, wrong `format` causes a wrong `Content-Type` response header sent to the browser. H

[2015-05-04 14:26] jodosha commented on #104
@gotjosh There is one problem here: the build fails on Ruby 2.0+ (2.2 excluded). https://travis-ci.org/lotus/controller/builds/61126011

I suspect you're on 2.0 or 2.1, correct?

[2015-05-04 15:01] gotjosh commented on #104
Hi @jodosha! It's a quite blurry line if you ask me, that's why I wanted to ask first. Allow me to respond in order:

1) Yes, indeed a wrong `format` causes a wrong `Content-Type` and therefore the template that you're going to render is not found which causes the "server side" error during rendering phase.

2) I am using rack 1.6, here's the stack trace:

![stack-trace](https://www.evernote.com/s

[2015-05-04 15:33] jodosha commented on #104
This is related to This is related to https://github.com/lotus/controller/issues/59

[2015-05-04 15:47] gotjosh commented on #104
Ohhh! I completely missed that rack patch inside lotus/controller :cry:

[2015-05-04 15:50] gotjosh commented on #104
However the patch states is only for Rack 1.5 or below, I'm currently on Rack 1.6.

[2015-05-04 16:08] jodosha commented on #104
True, but I just discovered that `Rack.release` is broken on `1.6.0`: it still returns `"1.5"`. See https://github.com/rack/rack/issues/751 and https://github.com/rack/rack/pull/777

**That patch was always applied** :scream: That means Rack 1.6 still has a bug in the MIME type handling.

The last commit above should fix the build for all the supported Rubies.

[2015-05-04 16:21] gotjosh commented on #104
Fantastic! :shipit:

[2015-05-04 16:33] #104 closed

[2015-05-04 16:36] jodosha commented on #104
@gotjosh Can you please verify that `master` now fixes your app? If so, I'll be happy to do a patch release for this.

[2015-05-11 12:30] jodosha commented on #70
@joneslee85 Does `Params#get` fixes your problem? With that API, you can safely access nested attributes with the following syntax:

[code]

If it helps, please close this ticket. Thank you! :cat2:

[2015-05-12 13:54] weppos opened #106 "Lotus::Utils::Hash conflicts with ActiveSupport::HashWithIndifferentAccess.new"
First of all, let me say that I'm reporting the issue as it is (since it took me a while to understand what was going on) and it may not necessarily be an issue on your side. However, I'd like to start the discussion to figure out what is the best approach here.

I have an object, which performs some Hash manipulation. The input is a controller parameter, and since I'm using both Rails and Lotus,

[2015-05-12 14:03] weppos commented on #106
Unfortunately, I believe this is not an issue on Lotus side, or not completely. Here's `ActiveSupport` initialization code

[code]

An instance of `Lotus::Utils::Hash.new` does not inherit from `Hash`, hence `Hash.new()` is called passing the instance of the Lotus-wrapped Hash. [The result](http://ruby-doc.org/core-1.9.3/Hash.html#method-c-new) is an empty `Hash` where the default value for a key

[2015-05-12 14:13] jodosha commented on #106
@weppos FYI - `Lotus::Action::Params` provides indifferent access, GC symbol attack protection and safe API to access nested parameters. Is there any specific need to still use AS' Hash?

Probably our `#to_h` should return an instance of `Hash`, so it will guarantee interoperability with other libs.

[2015-05-12 15:15] weppos commented on #106
@jodosha I'd like the implementation of our library to be independent from any framework `Params` implementation. The only reason I used the `ActiveSupport::HashWithIndifferentAccess.new` is because AS is potentially a dependency that I can have regardless the use of Rails. If `Hash` would be with indifferent access, I would have never used any AS library at all.

[2015-05-12 16:07] jodosha commented on #106
@weppos That means when you'll upgrade to MRI 2.2, you won't use AS anymore, but only invoke `#to_h` on the argument?

Regardless of your answer, I still think it's a good idea to let both `Params` and `Utils::Hash` implementations of `#to_h` to return an instance of `Hash`.

[2015-05-12 16:09] weppos commented on #106
No, unless I have guarantees that the input will always be indexed with Symbols.

[2015-05-14 10:02] jodosha opened #107 "Cookies: automatic "expires" setting"
Old browsers (IE 6, 7, 8), don't support `max-age` setting.

If we set default `:max_age` from `Lotus::Configuration`, or we specify inline in a cookie `cookie[:foo] = {value: 'bar', max_age: 300}`, it will be ignored.

I think it's our role to provide transparent solutions to browsers quirks.
We should set `expires` automatically, when it isn't present, but max-age is.

[code]

See http://mrcoles

[2015-05-15 00:13] jodosha commented on #106
Fixed by https://github.com/lotus/controller/commit/e69fadc5f387dab17cfd77266ed2cd4072fc1383

[2015-05-15 00:13] #106 closed

[2015-05-15 05:22] joneslee85 commented on #70
@jodosha doing `get` helps. But I guess we should document about it.

[2015-05-20 16:18] theocodes opened #111 "should default_format :json also force self.format = :json?"
Currently the response format does not follow `default_format`.
Maybe it should use `default_format` for response also and the user should have to override if they want something other then the default?

[2015-05-20 21:50] #107 closed

[2015-05-20 21:51] jodosha commented on #102
@AlfonsoUceda Would you love to take care of this? If possible I'd release v0.4.3 by Friday.

[2015-05-21 08:59] AlfonsoUceda commented on #102
Ok @jodosha ;) I'll take of it

[2015-05-21 09:16] jodosha commented on #102
@AlfonsoUceda You're a machine :yellow_heart: :green_heart: :blue_heart:

[2015-05-22 11:07] #102 closed

[2015-05-27 16:08] bradrobertson opened #113 "Lotus::Action::Parameters converting to hash"
right now if I have something like:

[code]

And I call
[code]
I get
[code]

I'd like to actually convert this to a raw hash of ruby primitives as specified in these params data types. I looked at the `raw` method, but that doesn't return the whitelist or anything, it's just the ones passed in.

Is there an easy way to convert a params object back to a validated, whitelisted raw hash?

[2015-05-27 16:17] bradrobertson commented on #113
If you're looking for context here on the usage, I want to start using Lotus in little bits as much as possible, but I'm not ready for the the framework as a whole.

My first thought is to write a little rails gem using these param validation classes that would allow some to specify the required params for a rails action and get a `validated_params` in their action method assuming it passed the co

[2015-05-28 17:04] weppos commented on #106
Lovely... I just discovered a new issue with Rails 4.2 #facepalm

[code]

[2015-05-28 17:12] jodosha commented on #106
@weppos Does it has anything to do w/ Lotus? Or is it just for the record? :smile:

[2015-05-28 17:13] weppos commented on #106
When you are feeling sad because you believe your code is terrible... well, come here and you'll feel better.

[2015-05-29 15:01] headius commented on #104
The logic you've applied here is fragile and will probably break again in the future...because it is patching around differences in sort implementations.

In jruby/jruby#3004, we have an issue caused by the way our sort implementation handles equivalent entries. A test case in Lotus uses an accept specification with two equivalently-weighed mime types, and then expects that they'll be ordered the

[2015-05-30 07:50] jodosha commented on #104
@headius THB, I'm not proud of that patch. Another poor quality indicator is the high churn in this area.

That being said, we wanted to borrow from `Rack::Utils` as much as possible. As they should cover most of the edge cases that come from browsers quirks. Until few months ago (can't recall if pre MRI 2.2 or Rack 1.6), the order of the returned entries was following their order of apparence.

I

[2015-06-03 17:11] g3d commented on #113
Got a similar error with passing params into initializer for worker/service.

[2015-06-11 21:13] mjbellantoni commented on #113
Pull #115 has a proposed fix for this.

[2015-06-16 15:32] jodosha commented on #113
Fixed by #115

[2015-06-16 15:32] #113 closed

[2015-06-30 08:01] jodosha commented on #103
Closing in favor of #23

[2015-06-30 08:01] #103 closed

[2015-07-05 22:27] xiy commented on #23
What happened to @ricardovaleriano's SSE implementation in the end?

[2015-07-06 08:02] g3d commented on #111
:+1: for that

[2015-07-07 06:48] jodosha commented on #23
@xiy I guess he didn't had the time to experiment/deliver anymore. :smile:

[2015-07-27 00:34] joneslee85 commented on #67
@stevehodgkiss ping, any update?

[2015-08-06 08:05] joneslee85 commented on #111
@theocodes make it happen

[2015-08-06 10:15] theocodes commented on #111
Cool. Will take care of it on the weekend.

[2015-08-14 16:43] theocodes commented on #111
Just an update – I did not forget this! got a bit busy last week but I intend to get it done asap!

[2015-08-14 18:17] nilcolor opened #118 "How to get JSON body as a params in action?"
I've create really simple Lotus app (https://gist.github.com/nilcolor/21ead88d1517e824f103). And I'd like to receive JSON data (via POST's body). But... controller receives request, responds with OK but params are empty... (not really empty - it's full Rack params hash but without data I need).
If params are posted in URL - they are readable via `params` arg. Even if action is `accept :json` btw

[2015-08-15 22:30] joneslee85 commented on #111
thx for the update

[2015-08-18 17:45] theocodes commented on #111
I've been investigating this the last couple of days and I'm convinced this is not an issue.

After running some tests i gathered that the responses* seem identical between when I set `self.format = :json' in the action context and when i don't and rely on the `default_format` setting.

* code, headers and body.

However, there is some "weird" behaviour I haven't yet identified with these 2 approa

[2015-08-21 13:19] theocodes commented on #111
So..

After further investigation and thought I concluded 2 things:

1) The action is doing exactly what it's supposed to do and `default_format` should not take precedence over the detected content type. It its there purely so that if the framework cant tell what content-type from the request, it has something to fall back to. And that is already the case.

2) There should be (in my opinion) a se

[2015-08-26 01:39] joneslee85 commented on #118
assigned to @brennovich

[2015-08-26 02:26] carloslopes commented on #118
Some things appeared when @brennovich and I were investings this.

Probably @nilcolor didn't configure the `body_parsers` of his app. If he configure the `body_parsers` for json the params passed to the action will start to be available.

But some things aren't clear, and maybe @joneslee85 can help us to figure them out.
* The purpose of `body_parsers` configuration is: Define different parsers th

[2015-08-26 02:30] brennovich commented on #118
Yep, as @carloslopes said @nilcolor, please make sure to uncomment this option in your `application.rb`:

<img width="962" alt="screen shot 2015-08-25 at 11 29 15 pm" src="https://cloud.githubusercontent.com/assets/379894/9484343/2d6db7b8-4b81-11e5-9c7c-6c85b404d3e9.png">

Once you get this done you'll star to get your params :)

[2015-08-26 02:38] carloslopes opened #123 "MIME types restriction not working properly"
According to the documentation, if we define a controller and specify which MIME type we want to accept, the app should respond with a client error when it receive requests with a not 'acceptable' MIME type.

[code]

But unfortunately this is not working in the current version. At this moment, even if you specify a content-type, when the app receives requests with other content-types it process th

[2015-08-26 02:40] carloslopes commented on #118
Issue related to the accept problem: https://github.com/lotus/controller/issues/123

[2015-08-26 11:08] nilcolor commented on #118
@brennovich @carloslopes -  thank you.

[2015-08-26 12:45] joneslee85 commented on #118
Thanks all for helping me out, this community is uber! I close thic ticket now

[2015-08-26 12:45] #118 closed

[2015-09-03 04:55] carloslopes commented on #123
Hey folks, after a few days I came back to take a look on this.

But before I code anything, I think we should first define what is the expected behavior.

At this moment, what the controller is doing is: when receive a request, it checks what `Accept` header the client passes and if it's not a whitelisted one (using the `::accept` method on controller definition) it responds with status code 406.

[2015-09-03 12:09] danelowe commented on #39
@jodosha Is this behaviour likely to change at all?

Composition works well for including features such as authentication, but there are also many situations where I suggest one might want to inherit controllers. e.g:

* Create and Update actions that each operate on the same object and need to set up the same exposures, repositories, state, session objects etc.
* Actions that are mostly similar b

[2015-09-04 15:19] davidpelaez opened #124 "Whitelisting should occur even if no params are defined"
Currently if I don't call `params` in an action the whitelisting won't be applied. The intention is clearly read in https://github.com/lotus/controller/blob/master/lib/lotus/action/params.rb#L112-L114 which makes me think this is not accidental.

However if Lotus promotes being explicit about things I'd suggest that whitelisting occurs at all times because it's weird that I can read anything if I

[2015-09-04 15:25] davidpelaez commented on #124
Currently if I don't call `params` in an action the whitelisting won't be applied. The intention is clearly read in https://github.com/lotus/controller/blob/master/lib/lotus/action/params.rb#L112-L114 which makes me think this is not accidental.

However if Lotus promotes being explicit about things I'd suggest that whitelisting occurs at all times because it's weird that I can read anything if I

[2015-09-14 12:37] jodosha commented on #124
@davidpelaez Hello and welcome. :smile:

Whitelisting is an extra layer of security that devs may decide to enable or not (the default). If someone decides to ignore this feature, it would be weird that `params` are always empty for them.

In order to see the params, this person would be forced to whitelist them. This makes, the feature, mandatory, but we want to keep it optional.

So, if you don'

[2015-09-14 12:37] #124 closed

[2015-09-14 12:41] jodosha commented on #123
@carloslopes Hello Carlos, thanks for reporting this :smile:

Can you please provide a failing example? For instance, what does your action accepts? What's the `HTTP_ACCEPT` header that makes this feature to fail? Thank you. :+1:

[2015-09-14 12:50] jodosha commented on #111
@theocodes This is exactly what we need. Thank you :+1:

Notes about naming:

  1. `forced_content_type`: we use `format` to indicate a Ruby symbol that represents a MIME Type (eg. `:json` for `application/json`), while `content_type` is the textual representation (eg. `"application/json"`). In all the configurations, devs always use formats over content types. See `.default_format`, `.accept`, `#

[2015-09-14 12:51] jodosha commented on #111
@theocodes Do you have the time to implement this? Thank you very much :+1:

[2015-09-14 12:51] jodosha commented on #67
Stale discussion, I'm closing this for now.

[2015-09-14 12:51] #67 closed

[2015-09-14 13:04] theocodes commented on #111
Sounds good! Leave it with me, I'll take care of it :+1:

[2015-09-14 13:07] jodosha commented on #111
@theocodes One last thing, please make sure to graceful handle the transition from `default_format`, by deprecating it etc.. Please see Lotus::Utils for deprecation facility.

[2015-09-14 13:09] theocodes commented on #111
sure thing! :+1:

[2015-09-16 14:27] #111 closed

[2015-09-16 15:11] jodosha commented on #23
Sadly, we have to postpone this because the implementation based on Rack Hijiack and Puma doesn't scale. Closing this for now. :cry:

[2015-09-16 15:11] #23 closed

[2015-09-18 13:11] jodosha commented on #123
@carloslopes Did you got something to share with us?

[2015-09-18 17:34] carloslopes commented on #123
Hey @jodosha, sorry about the delay, work is really taking all my time!

The feature isn't failing, this is just something that appear when @brennovich and I were take a looking at this issue https://github.com/lotus/controller/issues/118 and we figured out that when we request something passing a `Content-Type` header instead of the `Accept` one, the controller doesn't filter out that request.

A

[2015-09-18 21:43] jodosha commented on #123
@carloslopes Thanks for your reply.

Quoting [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html) (HTTP/1.1):

`Accept` is for requests..

..while `Content-Type` is for responses.

This is the reason why we have named that filter `.accept` and why it ignores `Content-Type`. :smile:

[2015-09-18 21:43] #123 closed

[2015-09-18 21:52] carloslopes commented on #123
Yes, but like it's wrote `Accept` is what the client is expecting, it doesn't have anything related to the server behavior (what the server is accepting from the client).

At least, this is my understanding, but these RFCs sometimes are totally related to interpretation

[2015-11-18 10:29] baob opened #130 "Lotus::Controller and unicorn - Action status codes persist to next HTTP request."
Our app uses Lotus::Controller and Lotus::Routes, and our production setup uses unicorn.

What we're finding is that if one of the unicorn workers runs an action that explicitly sets a status code ( 500 in our case ) all subsequent HTTP requests that go through the same action and same worker, which do not set a status code, finish with the previously set 500.

Our workaround is to explicitly set

[2015-11-18 11:08] jodosha commented on #130
@baob Hey thanks for reporting this. Are you using `lotus-controller` as standalone component or inside a Lotus app?

Actions are mutable, in order to make your application safe you must use a new instance for each request. This is handled for you by `lotusrb`, but not if you use `lotus-controller` alone.

Please let me know.

[2015-11-18 11:17] baob commented on #130
We are using the two gems (Controller and Router) standalone, we are not using the full lotus app. Can you point me in the right direction please ? I read something yesterday about mutable actions, but what I read suggested that Router would create a new instance every time, so I thought it would not apply to our situation.

This is our routing code:
[code]

[2015-11-18 14:04] jodosha commented on #130
@baob

You have two solutions:

  * You can add a class method for each action `.call` and do:

[code]

  See more at: https://github.com/lotus/controller#thread-safety

  * Or you can on action naming syntax (`to: 'actions#subjects_show`)

[2015-11-18 14:04] #130 closed

[2015-12-15 10:20] jodosha opened #133 "Exception notifiers compatibility"
Lotus::Controller [dumps exceptions](https://github.com/lotus/controller/blob/bb2f4b971adbff6ce4a2e050a08d4b1837bc848d/lib/lotus/action/throwable.rb#L132) in `rack.errors`. This is specified by [Rack SPEC](http://www.rubydoc.info/github/rack/rack/file/SPEC#The_Error_Stream).

---

---

On the other hand, the most popular exception notifier services use `rack.exception`. This isn't documented by Ra

[2015-12-15 10:36] jodosha commented on #133
Linking the Twitter discussion here: https://twitter.com/jodosha/status/676708558289899520

[2015-12-15 10:36] kyrylo commented on #133
My guessing is that someone implemented it like that and everyone else copied it. I could not find any traces of `rack.exception` in modern Rack.

[2015-12-15 10:38] jodosha commented on #133
@kyrylo That is true for Sentry:

![screen shot 2015-12-15 at 11 37 54](https://cloud.githubusercontent.com/assets/5089/11808356/54b940b6-a320-11e5-8f68-5fda903757c7.png)

https://twitter.com/getsentry/status/676709918926245889

[2015-12-15 21:23] weppos commented on #133
@jodosha I investigated a little bit the issue after I reported it to you, and the responses to [your tweet](https://twitter.com/jodosha/status/676708558289899520) also helped me to properly formulate an hypotesis.

At the first glance, when I discovered the issue and I compared the Lotus behavior with Bugsnag (that we use in production and that was not able to track the error), I realized we had

[2015-12-16 09:26] jodosha commented on #133
@weppos Thank you for this detailed memo. It's really precious for us :+1:

[2015-12-16 09:27] #133 closed

[2016-01-08 22:41] pascalbetz opened #138 "with session + cookie enabled, set-cookie header for rack.session is sent twice"
When having ```cookies``` and ```sessions``` enabled, then the __set-cookie__ header for __rack.session__ is sent twice, once with and once without __path__.
This leads to confusing state when modifying session content.

Steps to reproduce:

1) create a new lotus app
2) modify files as follows
[code]
3) lotus server
4) visit localhost:2300 and check response headers, you'll see

[code]

First cook

[2016-01-08 22:46] pascalbetz commented on #138
For completeness:

[code]

should fix the problem until it is solved within the framework.

[2016-01-09 13:39] camelspeed commented on #138
@pascalbetz I am confirming that the workaround works for me (thanks!) and I am now able to get beyond my session issues.  For others to read: basically one of the sessions was being discovered for any URLs of depth >= 2 (i.e. ```http://myapp:2300/one/two```), which caused me to either not be logged out, sometimes incorrectly logged out, and, also, my ```flash[:alert]``` messages being lost

One o

[2016-01-09 18:33] jodosha commented on #138
@AlfonsoUceda This is related to path prefixes inside Container apps. Because you already worked on this specific part, would you help to fix it?

---

When we initialize `Lotus::Container::Router`, we instantiate Lotus apps subclasses and [pass the path prefix](https://github.com/lotus/lotus/blob/master/lib/lotus/container.rb#L9) as an argument.

Then at the loading time, we can specify the path

[2016-01-09 18:46] pascalbetz commented on #138
@jodosha

Even with the same path set, the cookies are sent twice! This is clearly a bug Lotus should not send multiple set-cookie headers for the same content.
Actually if the __cookies__ would not send __rack.session__ then everything would work as expected. So to me the fix is not aligning the paths but to make sure that the session cookie is only sent once.

[2016-01-10 01:50] camelspeed commented on #138
I took a closer look at the 2 cookies (rack.session) being set and noticed that the values for the same key are **not always** the same even with the workaround.  See the Response Headers below.
'''Request URL:http://localhost:2300/login
Request Method:GET
Status Code:302 Found
Remote Address:[::1]:2300
Response Headers
view source
Content-Security-Policy:default-src 'none'; script-src 'self'; con

[2016-01-10 11:50] AlfonsoUceda commented on #138
I have the following behaviour:
1) `sessions :cookie, secret: ENV['WEB_SESSIONS_SECRET']`
First request:
[code]
Second request:
The cookies is set in Request headers and there isn't `Set-Cookie` in Response headers.

2) `sessions :cookie, secret: ENV['WEB_SESSIONS_SECRET']` and  `cookies true`
First request:
[code]
Second request:
[code]
and in request headers I have the `Cookie` header:
[code]
Th

[2016-01-10 21:21] AlfonsoUceda commented on #138
Hi guys, I created a branch fixing the problem:
https://github.com/lotus/controller/tree/fix-sessions-and-cookies

could you take a look? I'll create the PR tomorrow.

[2016-01-12 07:07] pascalbetz commented on #138
@AlfonsoUceda

This would also skip cookies that have RACK_SESSION_KEY as value. Or as one of the keys. I think a more "surgical" method would be better.

[2016-01-13 21:05] AlfonsoUceda commented on #138
@pascalbetz session is handled by `Rack::Session::Cookie` middleware

[2016-01-19 16:42] #138 closed

[2016-02-21 03:54] tonytonyjan commented on #70
Has this issue been resolved already? I can still encounter the same issue during [Getting Started Guide](http://hanamirb.org/guides/getting-started/).

This test will always fail since `params[:book][:title]` returns `nil`:

[code]

After changing it to `params[:book]['title']`, the test passed. I'm not sure whether this is a bug or by design.

env:

- ruby (2.3.0)
- hanami (0.7.2)
- hanami-utils

[2016-02-21 18:05] jodosha commented on #70
@tonytonyjan Thanks for reporting this. That looks like a bug: `params` provide "indifferent access" both with strings and symbols. They should be interchangeable.

What happens if you do `params.get('book.title')`?

[2016-02-22 04:20] tonytonyjan commented on #70
[code]

I guess it's on account of this line:

[code]

`params` should be a `Hanami::Action::Params` instead of `Hash`.

What can I do?

[2016-02-22 04:35] tonytonyjan commented on #70
a found, even though it's a `Hanami::Action::Params`, `params[:book][:title]` returns `nil` as well. However, `get("book.title")` works.

[code]

[code]

[2016-02-22 08:31] jodosha commented on #70
@tonytonyjan Sorry, I misread your initial comment.

We can't offer _"indifferent access"_ for that unit test. There is this Hash in test:

[code]

That we reference directly below:

[code]

That is a plain, ol' school, Ruby Hash. If you construct using symbols, it will fail to reach the expected value if you reference the key as string.

[code]

This is exactly the same that is happening in that

[2016-02-22 08:36] jodosha commented on #70
@tonytonyjan Speaking of the actual `Params` class, you're right that still fails.

[code]

This is a bug.

[2016-03-24 18:47] jodosha opened #147 "NoMethodError: private method `errors' called for action"
Reported by @nickmorlan in chat.

The problem is caused by `session.rb`, that defines `errors` as a private method.

Here's a stack trace:
https://gist.github.com/nickmorlan/4ce60b1632f115152289

[2016-04-04 14:27] huynhquancam commented on #147
@jodosha Could you brief the full context of the chat or the steps to reproduce the error?

[2016-04-04 23:20] nickmorlan commented on #147
Hope this is helpful, I am a noob around here.
I followed the getting started guide(http://hanamirb.org/guides/getting-started/), setting up the book repository and tests.  After finishing the guide I set sessions in the generated application.rb file line 77
` sessions :cookie, secret: ENV['WEB_SESSIONS_SECRET'] `
When enabling sessions, the create_book.rb test would throw an error stating that er

[2016-04-05 00:22] huynhquancam commented on #147
Got you @nickmorlan, then I guess making Hanami::Action::Session#errors method public will do?

[2016-04-05 01:17] nickmorlan commented on #147
That would be my assumption, but I am not sure what the expected behavior is or if there is something that would interfere.

[2016-04-05 11:29] vasspilka commented on #147
@huynhquancam If its a simple private to public conversion I can can take this on, if you don't mind.

[2016-04-28 11:12] Erol commented on #70
Is this still open? I'd like to have a try at it with the PR I just submitted.

[2016-05-02 07:09] Erol commented on #70
https://github.com/hanami/utils/issues/137 should be able to address this issue, such that:

[code]

🐹

[2016-05-05 08:01] jodosha commented on #70
@Erol @joneslee85 Thanks for taking care of this, but as we planned long time ago, next version of Hanami will support only Ruby 2.2+ with the purpose of avoid _indifferent access_. All the params will be accessible **only** with symbols.

[2016-05-16 09:33] #70 closed

[2016-05-20 10:59] #147 closed

[2016-05-25 04:16] changecase commented on #70
Using Ruby 2.2.4p230, accessing the `title` key via symbol or the `get` method in the spec still fails. Accessing the `title` key via string succeeds.

[code]

[2016-05-25 04:36] Erol commented on #70
Are you using `hanami-utils:master`?

[2016-05-25 04:46] changecase commented on #70
I'd assume the master branch is what's being pulled down as a dependency of the hanami gem in the Gemfile. I'm using rubygems as the source (giving me hanami-utils 0.7.2). However, it looks like rubygems' copy was last updated in May.

Could the issue just be that the hanami-utils on rubygems isn't recent enough?

[2016-05-25 05:14] cllns commented on #70
@changecase In order to get `master`, in your Gemfile, add (or update, if it's already there):
[code]
Then run `bundle install`

[2016-05-25 05:20] changecase commented on #70
Done. Even so, I still get the same set of responses.

[code]

`hanami-utils` is now at version 0.8.0.

[2016-05-25 06:01] Erol commented on #70
That's odd. Could you check if `params` is an instance of `Hanami::Utils::Attributes`?

[2016-05-25 06:10] changecase commented on #70
It is not.

[code]

[2016-05-25 08:54] Erol commented on #70
Sorry, I meant `params[:book]`.

Would you also be able to paste your `Gemfile.lock`? I've tried and it works with the following `Gemfile`:

[code]

[2016-05-25 09:16] jodosha commented on #70
@Erol @changecase `Hanami::Utils::Attributes` is no longer used and it will be deprecated. It was introduced in the first time because we wanted to provide _indifferent access_. With the next release we will remove _indifferent access_, by providing symbol only keys.

---

@changecase To try it, you should generate a new project using this:

[code]

Then edit `Gemfile` by **adding** these gems:

[

[2016-05-25 09:22] Erol commented on #70
Thanks @jodosha

[2016-05-26 11:00] Incanus3 opened #154 "call to Hanami::Action#call with params shouldn't modify (stringify) params"
Hi,
I've worked through your getting started guide at http://hanamirb.org/guides/getting-started/ and I love the architecture of the project (especially in contrast to rails). I ran into one issue though - the example spec in 'Implementing Create action' section doesn't work any more, since the `action.call(params)` call stringifies `params` as a side-effect, thus making the following `params[:boo

[2016-05-26 11:46] Erol commented on #154
I think this is related to https://github.com/hanami/controller/issues/70.

So this should be addressed in Hanami 0.8.0 👍

[2016-05-26 12:09] Incanus3 commented on #154
Thanks, that's good to hear, but I think there are actually two different issues here - one is the indifferent access when working with Hanami::Action::Params (or Hanami::Utils::Attributes), the other (and more surprising) is the side-effect of changing the plain Hash passed into Hanami::Action#call, which might happen even after removing indifferent access, if the hash is not deep-cloned before b

[2016-05-26 14:42] jodosha commented on #154
@Incanus3 Hi and thanks for reporting this issue.

In master there is a new way to handle params and shouldn't mutate them anymore. Can you please test with:

[code]

[2016-05-27 09:24] Incanus3 commented on #154
I'll try to get to it through the weekend

[2016-05-30 18:04] Incanus3 commented on #154
@jodosha I don't think this works yet (without modifying passed-in params hash). I did this simple test:

[code]

[code]

This produces the following output:
[code]
So the keys of nested params are evidently stringified.

PS: just to be sure, I checked Gemfile.lock and it uses hanami-controller commit e6ed4f77cb06505879fc07ac126edc4d6fd80588, which is the latest as of now.

[2016-05-31 07:24] jodosha commented on #154
@Incanus3 Hey, thanks for your reply.

You may still be using `hanami-controller` from the installed gem. The file `test.rb` lacks of `require 'bundler/setup'`. With that line here's my output:

[code]

While without bundler, we get the same output.

---

To be double sure, please print `Hanami::Controller::VERSION`, it should be `0.7.0`, which will be the next version. If you see `0.6.1`, you're

[2016-05-31 11:30] Incanus3 commented on #154
@jodosha You're completely right. If I don't `require 'bundler/setup'`, it uses 0.6.1 and if I do, it works as expected. Sorry about the false negative, should've run it through bundle exec. I've been working on a React side project this last two months, so I kind of fell out of the habit. When can we expect hanami-controller 0.7.0 to be released as part of hanami?

PS: thanks for the great work g

[2016-05-31 13:57] jodosha commented on #154
@Incanus3

In a month, but you can depend on `0.7.x` branch. `hanami-controller` is the most stable component that we have. 😉

[2016-05-31 13:57] #154 closed

[2016-05-31 16:41] jasoncharnes opened #157 "Built In Authentication"
This may not be the proper channel for this discussion. If not, please let me know and I'll make sure to post accordingly in the future.

I was curious if there was room for discussion, or had already been any discussion, about integrating an authentication system into Hanami. I've seen this in the PHP framework [Laravel](https://laravel.com/docs/5.2/authentication) and it is always something that

[2016-05-31 16:47] jodosha commented on #157
@jasoncharnes Hey thanks for asking, but this is out of scope.

Hanami is Rack based, there are really good libraries out there to serve this purpose. See `warden` and `omniauth`.

IMO Devise is child of Rails philosophy which does too much for convenience sake. I hope that Hanami Community doesn't try to imitate this library with its mistakes.

---

You can post future conversations over here: ht

[2016-05-31 16:47] #157 closed

[2016-05-31 16:50] jasoncharnes commented on #157
That makes sense. Thank you for taking the time to reply!

[2016-05-31 19:11] cllns commented on #157
@jasoncharnes If you're interested in trying out `rodauth`, check out: https://github.com/davydovanton/hanami-rodauth by @davydovanton :)

[2016-06-08 15:51] cllns opened #158 "Raise exception for reserved words (namely `flash`)"
This issue started as a request for documentation that `flash` is a reserved word when using `Hanami::Action::Session`: https://github.com/hanami/hanami/issues/595

Instead of just documenting it, we should help the developer by raising an exception when they try to use any reserved word.

One reserved word is `flash` but we should make sure all reserved words are covered.

(Thanks for the origina

[2016-06-09 12:38] jodosha opened #159 "Exceptions raised from callbacks aren't handled by handle_exceptions"
Example:

[code]

When this action is called, instead of handle the `ActiveRecord::RecordNotFound` exception as a `404`, it blows up. Probably this happens because callbacks are executed outside of the `_rescue` block, which is responsible of exceptions handling.

[2016-06-17 10:58] vladimirich commented on #159
I'm really want to help, but I'm not sure I can handle it quickly. If it's not a critical bug and can wait for couple of weeks, I'd be glad to take this issue

[2016-06-18 09:54] vladimirich commented on #159
btw, works for me with latest version of hanami-controller. When I tried to paste `handle_exceptions true` inside `class Show` it blows up with `undefined method `handle_exceptions'`. So I configured in hanamis application.rb and all works just fine.

[2016-06-18 10:35] vladimirich commented on #159
btw, can't reproduce this bug. Works on latest hanami-contoller version just fine. Only one difference with your code is that I moved `handle_exceptions true` inside hanamis application.rb, because your version blows up with `undefined method `handle_exceptions'`.

[2016-06-20 10:09] jodosha commented on #159
@vladimirich Hey thanks for your help. You can't reproduce, because there is a typo in the example above, which I now fixed.

[2016-06-20 10:20] jodosha commented on #159
I think @vladimirich is right: this isn't a bug. This is an issue that I experienced in production. The code above is a simplified version of it. It could've been happened that the error was caused from something else (not related to callbacks).

Here's the complete code, which works as expected:

[code]

I tested both with stable (`hanami-controller` `0.6.1`) and master (at 47341f1). They both wo

[2016-06-20 10:20] #159 closed

[2016-06-26 12:48] vladimirich commented on #158
If nobody minds, I'll get this issue. But I have no idea how to implement it yet, hah

[2016-06-29 12:17] jodosha commented on #158
@vladimirich Please do.

[2016-07-10 23:25] apotonick opened #161 "Routes and helpers - how to get them as objects"
Hey, working on a nice example project with Hanami and Trailblazer. It's great fun. :heart:  I have two things, though, I'd love to discuss when using [Cells](http://trailblazer.to/gems/cells) with Hanami.

## Cells in Hanami

We use Cells as a replacement for `Hanami::View`, we simply render the cell in the `Action.

[code]

As you can see, the cell's returned markup is assigned via `Action#body=

[2016-07-24 13:22] akhramov commented on #158
@vladimirich are you still up for it?

[2016-07-25 05:27] akhramov commented on #158
Hi everyone. I think we can go with guard module. The idea behind is dead simple:

* Create a module implementing `#expose` method, which raises an exception if given list of words contains one or more reserved word. Otherwise it calls super.
* Prepend this module to an action.
* Introduce an alias method for `#expose` (`#expose!` or `#_expose`) for internal usage. This alias won't be watched by t

[2016-07-28 14:39] matthewling opened #166 "Tempfile possibly being stringified during param whitelisting"
Hallo,

Congratulations on the new release!

While upgrading to 0.8 a file upload feature started to break. On looking more closely, it seemed that when a multi part file upload is made from a form and then checked with a dry-v validation, the value of of a file parameter is stringified.

https://github.com/hanami/controller/blob/master/lib/hanami/action/params.rb#L129

This is the example we have

[2016-07-29 10:47] amccann1 opened #167 "Format for IE8"
Hi
I posted this in the hanami chat posting here for collecting all information;

I was wondering if someone can give me a little pointer here as I’m not familiar with how the self.format is being selected.

My app works fine in most browsers and gets the format :html matching text/html from the HTTP_ACCEPT except in IE8.

It keeps requesting :jpeg with the error

`Hanami::View:MissingTemplateErro

[2016-07-29 15:13] amccann1 commented on #167
Since `*/*` is the default accept should there be a check to see if this is the `req_mime` value and if it is set it?

Something like
[code]

If this is a possible solution, would it be set as `text/html` or as rack's default `application/octet-stream`?

Any comments or ideas?

[2016-07-29 17:12] bruz commented on #167
Curious - I'd never looked at the accept header coming from old IE versions, but for IE8 I can confirm it's sending `image/gif, image/jpeg, image/pjpeg, image/pjpeg, application/x-shockwave-flash, */*`, and that I'm also hitting that same error as you with a [Hanami 0.8.0 example app](https://github.com/bruz/bookshelf-delivery-example).

Your added check for `DEFAULT_FORMAT` seems like a good idea

[2016-08-01 10:17] fidothe commented on #166
cc @solnic, after a discussion in dry-v gitter.

[2016-08-02 11:59] lasseebert opened #169 "Array of schema in params: How to?"
I have an endpoint that accepts an array of hashes and I can't seem to make the validation work.

I have something like this in my action:

[code]

I submit this: `my_items[0][foo]=a&my_items[0][bar]=b&my_items[1][foo]=c&my_items[1][bar]=d`

When the params reach my controller code, they are not valid since the above is interpretted as a hash:

[code]

1, Am I doing something wrong?
2. Is it possi

[2016-08-02 17:05] cllns commented on #169
What about changing `optional(:my_items).filled do` to `required(:my_items).maybe do`? Would that work for you?

[code]

[2016-08-03 06:13] vladimirich commented on #158
@jodosha , yep, sorry, was on vacation and forget to inform you

[2016-08-03 11:42] vladimirich commented on #158
@akhramov , but if you already did something you can take this issue. What do you think?

[2016-08-03 18:02] akhramov commented on #158
@vladimirich let us try, thanks.

[2016-08-08 06:56] lasseebert commented on #169
Thanks for the suggestion. It wouldn't work, because the parameter _is_ optional. As far as I understand `required(:my_items).maybe` means that the key `my_items` must be submitted, but it does not have to have a value.

[2016-08-08 16:07] cllns commented on #169
Ah, ok.

It looks like your `  optional(:my_items).filled do` should be `  optional(:my_items).schema do` instead, since it's a nested validation. http://dry-rb.org/gems/dry-validation/nested-data/

[2016-08-09 07:15] lasseebert commented on #169
I tried that, and it didn't do what I want either. `my_items` should be an array of schemas. So the output of the params after coercion should be something like:

[code]

I have not been able to create a schema that supports that yet, so for now I'll use `optional(:basket).maybe` and then parse and validate the content of that myself.

[2016-08-09 10:43] jodosha commented on #167
@amccann1 Hi and thanks for reporting this problem. That supposed to be the expected purpose of `default_response_format`: to return the specified format when `HTTP_ACCEPT` is `*/*`. 😄

So the attached PR should be merged. Thank you for that! 👍

---

However, I don't understand one thing:

You say "at the end", but the PR tests against `*/*`. It should theoretically work with a header that ends wi

[2016-08-09 11:01] amccann1 commented on #167
Hi @jodosha
As bruz said above IE8 sends `image/gif, image/jpeg, image/pjpeg, image/pjpeg, application/x-shockwave-flash, */*`

I set the default to be `:jpeg` so I didnt want to send that through for the test so I only put `*/*`.

Now that I think on it the test you mentioned could work for this as well if you remove the `text/html` from the input header as that is the set default for `FormatCont

[2016-08-09 11:12] jodosha commented on #167
@amccann1 Hey, thanks for the quick reply!

So in my understanding, IE8 sends that header to HTML resources? Eg. `/signup` would receive that header? This causes Hanami to understand that the browser wants a `:jpeg` format and tries to render `signup/new.jpeg.erb`, which doesn't exists and this condition causes an exception. Correct?

Of course we want that when IE8 hits `/signup` it would render

[2016-08-09 12:14] amccann1 commented on #167
@jodosha
I thought if the browser asks for JPEG then it would be weighed higher than the `default_response_format` in the value sort so it wouldn't be a problem or have I misunderstood how the works?

[2016-08-09 15:42] cllns commented on #169
@solnic any ideas?

[2016-08-09 16:01] solnic commented on #169
It's not how rack params parsing works, you gotta do this:

[code]

[2016-08-09 18:59] bruz commented on #167
@jodosha it seems like the ideal fix here would be to do content negotiation by going through the list of types in the accept header (sorted first by the `q` value specified, and then order listed), and picking the first one which the action supports. It seems like that's not really possible with `best_q_match` only providing a single MIME type to match against?

That being said, #170 fixes the IE

[2016-08-10 06:49] jodosha commented on #167
@bruz

We pick the MIME Type that has more weight, this is the role of `best_q_match`. The handling of the corresponding format is delegated to other methods with high level abstraction.

Great! Thank you @amccann1 and @bruz for this discussion. I'm gonna merge #170 right now! 👍

[2016-08-10 06:50] #167 closed

[2016-08-10 07:25] jodosha commented on #166
@matthewling I'm sorry about this problem that I introduced. I'm closing this ticket because we merged https://github.com/hanami/controller/pull/172 which removes the useless params _stringification_.

We're planning to do a patch release of `hanami-controller` with minor fixes merged during this week.

[2016-08-10 07:25] #166 closed

[2016-08-10 10:25] matthewling commented on #166
@jodosha Great stuff! Not a worry at all ... thank you!

[2016-08-10 10:30] #158 closed

[2016-08-10 11:20] jodosha commented on #161
@apotonick Hi Nick!

If you're using full stack Hanami, there are special constants like `Web::Routes` that respond to `.path`, `.url` and `.recognize`

---

One solution for helpers could be:

[code]

What do you think?

[2016-08-11 06:51] lasseebert commented on #169
Thanks for the clarification, @solnic.
Unfortunately, I don't control the input, so I will just write a middleware that changes it to the correct format.

[2016-08-11 06:51] #169 closed

[2016-08-11 07:15] jodosha commented on #169
@solnic @cllns Thanks for replying!

[2016-08-15 19:42] apotonick commented on #161
That all makes sense, thanks! One question, though. How would I "Return an instance of Hanami::Assets::Configuration" ???

[2016-08-16 08:01] jodosha commented on #161
@apotonick if you use the conventional namespace structure you can use `Configuration.for`.

[code]

This should work.

Can you please paste the stack trace here? So I can be sure that the suggested code above will work 😉 .

[2016-08-16 08:01] #161 closed

[2016-08-23 10:02] TiteiKo opened #175 "Array of schemas"
Hi all,

I can't seem to figure out how to make things work with an array of schemas as parameters... I've seen https://github.com/hanami/controller/issues/169 but it doesn't answer my problem...

See the following test:

[code]

Which outputs:

[code]

I tried several variations in the schema, but so far, no luck in making this work...

[2016-08-23 11:49] TiteiKo commented on #175
@theCrab These changes brakes the test:

[code]

[2016-08-24 15:44] TiteiKo commented on #175
Ok, so, I've now got the following:

[code]

First test still does not pass:

[code]

Second test passes.

From what I understand, dry-validation being used, the first test should pass too. Could ```{ baz: 'foobar' }``` have been stringified somewhere along the way?

[2016-08-24 20:07] cllns commented on #175
@TiteiKo thanks! I think this might be related to @solnic's answer for #169. That is, it has to do with how Rack interprets parameters.

This article helps a bit, it refers to Rails but I think it's all from Rack: https://spin.atomicobject.com/2012/07/11/get-and-post-parameter-parsing-in-rails-2/

I don't fully understand this stuff myself, but can you try something like:
[code]

[2016-08-25 07:23] TiteiKo commented on #175
I was trying to debug this stuff, and it looks like master branch resolves the issue, thanks to this commit: https://github.com/hanami/controller/commit/df6224080b247784bffecca0d382918c7d22267b

So yay! :) (and sorry for all the fuss)

[2016-08-25 07:23] #175 closed

[2016-08-29 10:22] TiteiKo opened #176 "Helpers test suite not passing with controller master branch"
Hey all,

Just in case no one noticed yet, in the helpers repo, there's a test not passing anymore when pointing controller to the master branch:

[code]

Basically, the params in which we dig inspects as:

[code]

(delivery.address.street was "" and is now nil)

[2016-08-30 14:00] cllns commented on #176
Thanks for finding this @TiteiKo! Do you think the spec needs to be updated, or that this is an unplanned/bad regression? My intuition leads me to think it's the former, since we got rid of stringifying params.

[2016-08-30 14:04] TiteiKo commented on #176
Depends on rack, I guess... When a text field is empty, does rack send `""` or `nil` as a param?

If it's `""`, then the test is not written well (test/integration/form_helper_test.rb:83)

[code]

[2016-09-07 08:11] thhermansen opened #178 "How to use custom predicates for params"
Hi,

I have tried to figure this one out on my own, but I'm unable to make it work.

What I want to do is to define custom predicates like `:uuid?` which is usable within the definition of params in a controller, like this:

[code]

I have managed to get this working both with [dry-validation directly](http://dry-rb.org/gems/dry-validation/custom-predicates/) and with hanami-validation [global cus

[2016-11-09 15:17] jodosha commented on #176
@TiteiKo I guess this can be closes because it was fixed by your PR https://github.com/hanami/helpers/pull/83

[2016-11-09 15:17] #176 closed

[2016-11-09 15:38] TiteiKo commented on #176
Yep, sorry I forgot to close this when I submitted the new one

[2016-11-21 13:26] beauby opened #182 "Ability to prepend middlewares."
Currently there does not seem to be a possibility to add a middleware at the bottom of the stack (i.e. so that it runs _before_ the stock hanami ones), let alone *before* or *after* (or even *replacing*) a given one.

`Rack::Builder` does not seem to provide an interface to do that (rails, for instance, handles its own middleware stack).

IMO this would be a nice feature to have. Thoughts?

Edit:

[2016-11-21 14:00] jodosha commented on #182
@beauby Hi. Are you talking about middleware stack in a single action?

[2016-11-21 14:38] beauby commented on #182
@jodosha Yes, exactly. I'm not 100% confident with the whole router/controller/rack dance yet though, so I may be mistaken.

[2016-11-21 15:40] beauby opened #183 "Consider moving parameters merging from router to controller."
# Current behavior

Currently, the router takes care of parsing the request body, symbolizing its keys, and merging it into `env[routers.params]`. Then, the controller action uses it to build its `params` hash that is passed to `Action#call` (it actually merges it into `Rack::Request.new(env).params`, which is the union of GET and POST params (though the latter would be empty when receiving JSON))

[2016-11-22 05:36] joneslee85 opened #185 "[Discussion] Is `session` supposed to return an indifferent hash?"
My colleague @createdbypete's just pointed out for me there is a regression with the accessor `action.session` when he upgraded our internal app to Hanami 0.9

Before:

[code]

Now:

[code]

I could not find any traces in the session code that cast to `Utils::Hash` so I assume that it is with intention `session` would return a original hash or whatever that `env` returns.

Now let's take a moment

[2016-11-22 05:38] joneslee85 commented on #183
cc @hanami/core-team

[2016-11-22 06:05] joneslee85 commented on #183
@beauby thanks for the questions. The answer on why router is now handing the params merger responsibility, I'd leave it to @jodosha. I think his idea is a ready-to-go routing component that could be hooked into any application. Having to depend on hanami-controller or writing their own pre-processing code in non-hanami apps seems a bit inconvenient.

Having said that, I would like to know any spe

[2016-11-22 09:28] jodosha commented on #185
@joneslee85 @createdbypete I'm sorry about this confusion.

First of all, _indifferent access_ shouldn't be considered anymore. We removed support for it in the latest versions.

We should make session values to be accessible only with symbols. This is for consistency sake with the other parts of Hanami (action params, entities attributes etc..).

We should avoid to assign `Utils::Hash` instances

[2016-11-22 12:43] beauby commented on #183
Currently they would have to write the same current preprocessing code that is in [Hanami::Action::BaseParams](https://github.com/hanami/controller/blob/master/lib/hanami/action/base_params.rb#L134), that is
[code]
What I'm suggesting would change what they'd have to write to
[code]

Basically, I think it should be up to the controller layer how to expose each kind of parameter.

The exact situati

[2016-11-23 00:27] joneslee85 commented on #185
@jodosha thanks for the clarification

I am with you on avoiding `Utils::Hash` and thus I don't think it is necessary to wrap `env['rack.session']`.

@createdbypete please change the key to string

[2016-11-23 01:30] createdbypete commented on #185
@jodosha +1 to the consistency using symbols if possible. Would be in line with the existing docs and guides examples.

What's frustrating is this appears to only be an issue in the unit tests where a raw `Hash` is passed to the action. The case of converting the key to a string is handled by the Rack [`SessionHash`](https://github.com/rack/rack/blob/1-6-stable/lib/rack/session/abstract/id.rb#L61)

[2016-11-27 18:57] AlfonsoUceda commented on #178
Hi @thhermansen, do you still have this issue? are you using hanami controller alone or a full hanami app?

[2016-11-27 19:58] thhermansen commented on #178
Hi, and thank you for answering. I didn't figure it out so the question is still valid.  We are using controllers in a full Hanami app.

[2016-11-27 20:13] thhermansen commented on #183
I don't know if it helps or not. Please disregard this post if it's off topic: I solved the same JSON API dasherized-to-underscore situation by creating a JSON body parser which I used instead of Hanami's default JSON body parser.

So in the `Hanami::Application configure` block I did
[code]

Where JsonParserUnderscoredKeys looks something like:
[code]

[2016-11-30 23:24] beauby commented on #183
@thhermansen The issue with having a custom body parser is that it cannot be parametrized from the controller action (which is needed in my case to tell the difference between a resource creation/update payload, or a relationship update payload – those two having slightly different grammars per the spec).

[2016-12-01 11:38] thhermansen commented on #183
Oki, I understand. We used the custom body parser with Ember data json API adapter which worked fine both for create/update and read, but there may be some detail in the JSON API spec which I'm not familiar with.

(We are actually experimenting with [GraphQL](https://github.com/rmosolgo/graphql-ruby) due to inconsistency between our [server side rendered JSON API response](https://github.com/fotin

[2016-12-02 00:37] davydovanton opened #190 "[Discussion] Add information how to render view"
I have hanami app with the create action. I tried to render the new view with 422 status code (like in guides) but instead that I saw error page. After that I found that I can render specific view using this code:
[code]

And now all works fine for me.

That's why I have a question: maybe is better to add this information to guides and update starting guide?

/cc @hanami/contributors @hanami/core-

[2016-12-02 17:41] cllns commented on #190
Did you [add `template 'books/new'` to the View](https://github.com/hanami/hanami.github.io/blame/build/source/guides/getting-started.md#L904)?

Or is the issue that you want the whole `New` view to render, rather than just that template?

[2016-12-02 17:54] beauby commented on #190
@cllns I think the "issue" is that if you explicitly set the status to a non-success one (like `422`), the view is bypassed.

[2016-12-05 16:21] mereghost commented on #190
@davydovanton How were you setting the response code? If you were using the `status(code, message)` helper the rendering will be bypassed as it sets the body to `message`.

If you set `self.status` directly, the rendering will not (should not) be bypassed.

[2016-12-12 14:05] jodosha commented on #182
@beauby Interesting, what's your specific use case?

[2016-12-12 14:12] jodosha commented on #183
@beauby Hi, what if you mount a rack middleware in `config.ru` of a Hanami project?

[code]

[2016-12-12 14:14] jodosha commented on #190
@davydovanton Hi, this should help to solve your problem. http://hanamirb.org/guides/actions/control-flow/#http-status

[2016-12-12 14:14] #190 closed

[2016-12-13 01:21] beauby commented on #183
@jodosha The issue with that is the same: it cannot be parametrized per-action (except if one reimplements parts of the router in the middleware, but that sucks).

The goal here is that one could:
1. [x] call `use` from within an `Action` class,
2. [x] have the loaded middleware modify the parsed body, and finally
3. [ ] have the modified parsed body accessible through `params`.

Currently, 1 and

[2016-12-20 19:24] greggilbert opened #196 "Flash returns the same message twice"
I'm having a weird issue using flash with controller 0.8.1, where I get the same message twice. I'm POSTing to `save.rb`, saving the message there, and then catching the message in `index.rb`:

[code]

[code]

On the first load of index, it prints out `"HI THERE -> Saved!"`
On the _second_ load, it prints out `"HI THERE -> {:message=>\"Saved!\"}"`

Am I doing something wrong? Is this related to #1

[2016-12-21 07:44] jodosha commented on #196
@greggilbert Hi Greg, I'm sorry about this problem.

Can you please try this for me?

[code]

Do these new lines of code solve your problem?

**PS:** I'm NOT advocating to keep these lines of code around forever, but just to try if this solution can work and eventually add it to the framework. 😉

[2016-12-21 16:50] greggilbert commented on #196
@jodosha, no need to apologize - always glad to help.

Yes, putting that change in place fixes it.

[2016-12-21 16:51] jodosha commented on #196
@greggilbert Thanks for getting back. We'll write a patch for this. 👍

[2016-12-21 17:50] TiteiKo commented on #178
Hi @thhermansen

You can either have the predicates in a module:

[code]

Or declare the predicate directly in your `params` block:

[code]

[2016-12-22 08:31] thhermansen commented on #178
Thank you! I'll try it out.

[2016-12-22 08:31] #178 closed

[2016-12-22 09:13] jodosha commented on #178
@thhermansen Please let us to know if it works for you. Thanks! 👍

[2017-01-03 11:51] matiasleidemer commented on #196
@greggilbert I'm trying to reproduce the error on my machine, but without success... Actually, the flash object is empty after the redirection, printing `HI THERE -> ` on the console after it reaches the index action. Am I doing something wrong?

[2017-01-05 01:06] rafaels88 opened #198 "params are being exposed to all Action"
### Scenario

[code]

### Expected

It should throw a `NameError Exception`, since `params` is not exposed to the private method by the class.

### What is happening

`params` is accessible by the private method with all values inside it.

### Problem location

As pointed by @beauby and @parndt, here https://github.com/hanami/controller/commit/64f3cefeed33463cc604767118f5c380b265788a#commitcomment

[2017-01-05 03:06] greggilbert commented on #196
@matiasleidemer Sorry about the delay. I just did a fresh install of Hanami and got the same thing as before. Did you enable sessions for the app?

I just put up a [proof of concept](https://github.com/greggilbert/hanami-controller-196). You should be able to just clone that, `bundle install`, and then run the server. Go to /, click the button, and you'll see the message. Reload that page (i.e. do

[2017-01-05 11:29] jodosha opened #199 "Make hanami-controller compatible with Rack 2.0 only"

[2017-01-05 11:50] matiasleidemer commented on #196
@greggilbert cool, I'll take a look later today, thanks!

[2017-01-05 14:13] jodosha commented on #198
@rafaels88 Having `params` exposed by default, is useful.

In the past we had this problem over and over: in case of form submission with invalid data, if a developer forgets to expose manually `params`, they got confused why the HTML form don't has the its fields filled with the wrong data.

---

The side effect of exposing an information is the creation of a _getter_. Exposures need concrete met

[2017-01-05 18:12] rafaels88 commented on #198
@jodosha Thanks for the explanation! I am not sure if it is a problem to have `params` exposed, but it seems weird to have this and the need to receive `params` argument in `#call` method in the Action. Maybe I could not receive any argument in `#call` and have `params` exposed as it is nowadays.

When Hanami passes `params` to my action through `#call` method, it might shows some intention of how

[2017-01-05 18:20] beauby commented on #198
One possible solution would be to have [this line](https://github.com/hanami/controller/blob/master/lib/hanami/action/exposable.rb#L25) replaced with `exposures.push(:params)`.

[2017-01-08 21:31] matiasleidemer commented on #196
Hello, just to make sure, what is the desired behavior here? I'd say the flash message shouldn't be available after the refresh, right? Since, according to the documentation _It has a life span of one HTTP request or redirect_. I'm asking just to make sure 😬

[2017-01-08 21:44] greggilbert commented on #196
@matiasleidemer Yeah, that's what I'd expect.

[2017-01-08 21:50] matiasleidemer commented on #196
@greggilbert cool, I was able to fix it here, I will open a PR later today :)

[2017-01-08 23:02] matiasleidemer commented on #196
#200 should take care of this, thanks for setting up a POC @greggilbert, it was really helpful... 😄

Since this is my first PR I'm not very sure I followed all the guidelines. Nevertheless, I'd be happy to address any other issue.

[2017-01-10 14:25] jodosha commented on #198
@rafaels88 @beauby if @beauby suggestion works, can any of you please create a PR for that? Thanks! 👍

[2017-01-13 18:11] #199 closed

[2017-01-21 18:56] #196 closed

[2017-01-21 19:29] jodosha commented on #183
This modification makes sense, but it requires a major rework of `hanami-controller` and `hanami-router`, which we can't do now. The reason is to reach 1.0 ASAP. @beauby I'm sorry about that.

[2017-01-21 19:29] #183 closed

[2017-01-21 19:29] #185 closed

[2017-01-21 19:36] jodosha commented on #198
I just tried @beauby suggestion, this causes all the tests to fail. The way exposures work, they require a concrete method to be present in order to accumulate it in the final payload. See https://github.com/hanami/controller/blob/3fa7fcc62bdd27295a721608d2b20bb796bcce8d/lib/hanami/action/exposable.rb#L109

---

Closing this because it was a nice to have fix. I have the idea of remove the exposure

[2017-01-21 19:36] #198 closed

[2017-01-21 19:41] jodosha commented on #182
@beauby To recap:

  * For a Hanami project, you can `use` middleware before Hanami stack in `config.ru`
  * For a single Hanami application, you can use `middleware.prepend`. See https://github.com/hanami/hanami/blob/6e80d339e97b67563c75daa5b2b6cf4d4bceffd8/lib/hanami/middleware.rb#L82
  * For a single action, there is no way to prepend, only `use` to add a new middleware. Here you should have th

[2017-01-21 19:41] #182 closed

[2017-01-22 03:36] greggilbert commented on #196
Awesome. Thanks, all!

[2017-01-26 18:40] TrevorBramble opened #205 "Getting `Can't find template 'home/index' for 'xml' format.` despite `accept :html` statement"
Relevant headers:
[code]

Exception:
[code]

[code]

Elided source:
[code]
[code]

[2017-01-26 23:32] cllns commented on #205
Thanks @TrevorBramble for opening this. I think this might be fixed by #191, which is not released into a gem yet. Can you try seeing if this still happens when you put the following in your Gemfile:
[code]
That `ref` is [the state of the codebase right as that PR was merged](https://github.com/hanami/controller/commit/fe955b52b469d97251e00d1e0e8e97344cf86b2c).

[2017-01-28 09:02] #205 closed

[2017-02-10 11:10] absrd opened #208 "Disable rack logging when handle_exceptions = false or other field"
I'm working on an application where we handle exceptions without Hanami::Controller's exception handler framework. Thus we've set handle_exceptions = false, but the exceptions are still logged by Hanami to Rack, unless we call handle_exception to each possible error such that they'll be added to the handled_exceptions hash. (v0.7.x)

We can disable logging with "handle_exception StandardError => 1

[2017-02-10 14:41] jodosha commented on #208
@absrd Hi, can you please tell me exactly which version of `hanami-controller` are you using? It's only `hanami-controller` or Hanami full stack?

What do you mean by "still logged by Hanami to Rack"? Do you mean `env['rack.exception']`?

[2017-02-10 17:03] kaikuchn opened #209 "Custom validation predicates"
Greetings,

I've been trying to define a custom predicate to validate a parameter in one of my controllers. ~~So far I have been unable to figure out how to accomplish this.~~ After asking in gitter about how to accomplish this, @jodosha said that [it isn't possible right now](https://gitter.im/hanami/chat?at=589b50faaa800ee52c6c0a5e).

[Here's a gist](https://gist.github.com/kaikuchn/bdcd08e50cf0

[2017-02-10 17:18] kaikuchn commented on #209
Ah, btw. this is possible right now, it just breaks when using schema due to https://github.com/hanami/validations/issues/123:
[code]

This then registers the custom predicate in the global predicate registry, even for other containers I guess.

[2017-02-13 08:58] kaikuchn commented on #209
Okay, so on master the above works, but it registers the predicate globally (in `Web::Action::Params` registry). However, it is also possible to call `predicate` on `Web::Controllers::Alerts::Create::Params` which then registers the custom predicate only for that action.

I.e., it is possible, it just isn't documents and not part of the public API.

[2017-02-13 09:05] tak1n commented on #23
@jodosha maybe hanami can adopt https://github.com/palkan/litecable which provides different production variants (go server, erlang server) through https://github.com/anycable/anycable.

For development mode it also uses the rack hijack approach.

Hanami could also provide it's own logic handler if litecable does not fit: https://github.com/anycable/anycable/wiki/Using-AnyCable-with-Ruby-(non-Rail

[2017-02-13 09:30] jodosha commented on #23
@tak1n Thanks for the heads up.

These are great solutions that work out of the box. 👍

[2017-02-13 09:32] jodosha commented on #209
@kaikuchn Hey, well it's possible because with Ruby everything is possible 😉 .

It doesn't work inside `params` because we pass that block directly to `Hanami::Validations.validations`, which doesn't take account of inline predicates.

Anyway, I think we can make this to work.

[2017-02-13 12:47] absrd commented on #208
@jodosha 0.7.1 hanami-controller. We're also using other Hanami gems, but not the whole stack.

The problem is that this code runs:
https://github.com/hanami/controller/blob/master/lib/hanami/action/throwable.rb#L153
, even though configuration.handle_exceptions = false has been set.

The problem lies in that above mentioned method's guard clause is only done with: configuration.handled_exception?

[2017-02-13 21:16] tercenya opened #210 "new #send_file behavior is error-prone in globbed routes"
version: 1.0.0-beta1

https://github.com/hanami/controller/commit/4a1e1af2c6da5b6adf8d9d3c17b397dbd3487b5e restricts send_file to files only in public_directory, and allows the router to attempt other routes.  This causes an nasty problem that isn't obvious.

When using a glob route, say:
[code]
and the `#show` action does a `#send_file` that isn't in the public folder, the return value is has a "

[2017-02-13 21:27] tercenya opened #211 "need an [unsafe] method to #send_file on a location outside of the public_directory"
version: 1.0.0.beta-1

https://github.com/hanami/controller/commit/4a1e1af2c6da5b6adf8d9d3c17b397dbd3487b5e restricts #send_file to the public_directory.  While that's a well-intentioned security measure, it's a common use-case to `#send_file` CMS content, or things generated dynamically via `TempFile`.  I don't think Hanami needs the complexity of managing whitelist-able folders, but I do need to

[2017-02-18 21:01] cllns opened #213 "Regression: flash after redirect broken"
Flash messages should survive after a redirect. They used to with `0.9.2`, but now they don't, with `1.0.0.beta1`.

This is a result from #202. Specifically, [the change to the implementation of `_values` in `lib/hanami/action/flash.rb`](https://github.com/hanami/controller/pull/202/files#diff-ce13f23d4ed57d06a91f48c61b42c054L145). I reverted that one line locally and flashes survive redirects.

N

[2017-02-18 21:39] cllns commented on #213
The test added for that change seems to address this. I'm not sure what's different between my local code and that test 🤔

[2017-02-18 23:12] cllns commented on #213
So it seems like the test is memoizing the flash value in the header. After the flash is stored into the header, it's wiped out.

[2017-02-20 14:07] mereghost commented on #213
@cllns I think the test was done this way as sessions are not enabled by default (and are a pain to test with).

[2017-02-21 23:26] nickgnd opened #214 "Nested params are stringified during params validation"
Hi everybody, thanks again for your works!

I'm trying Hanami for a json API backend and I noticed a weird behavior in an action. It seems that the validation stringified the nested params' keys, so I can not access to them via symbol as explained in the [guide](http://hanamirb.org/guides/actions/parameters/), but I've to use a "mixed" approach: `params.get(:items, 'code')`.

Without params valida

[2017-02-21 23:35] nickgnd commented on #214
Whhops..a PR for fix this issue was created 5 minutes before the opening of this issue 🐎
https://github.com/hanami/router/pull/141

[2017-02-23 13:48] jodosha commented on #214
@nickgnd Thanks for this detailed explanation. Can you confirm that https://github.com/hanami/router/pull/141 fixes the problem?

[2017-02-23 13:48] #214 closed

[2017-02-23 14:07] jodosha commented on #211
@tercenya Mr @mereghost is working on this.

[2017-02-23 17:39] mereghost commented on #211
Heya @tercenya can you take a look at #216 to check if it fits your needs? Thanks!

[2017-02-23 18:07] jodosha commented on #208
@absrd Why `env['rack.exception']` is a problem for you? That is a de-facto standard used by all the exceptions tracker SaaS (eg. BugSnag).

It's filled when the server crashes (Error 500) and you need to track what happened.

---

The `handle_exceptions` setting is used to show or not the stack trace to the user.

[2017-02-23 18:20] nickgnd commented on #214
@jodosha Yep, all works fine and no more red dot 🔴  in my specs 🎉  Thanks!

[2017-02-23 18:31] jodosha commented on #214
@nickgnd Thanks for getting back so quickly! 💯

[2017-02-23 18:55] absrd commented on #208
That isn't the problem.

To be exact this is the problem:
https://github.com/hanami/controller/blob/master/lib/hanami/action/throwable.rb#L158

It logs to rack logger any exception made by controllers if they have not been handled using the controllers' handle_exception method:
https://github.com/hanami/controller/blob/master/lib/hanami/action/throwable.rb#L154

, but it also turns off the excepti

[2017-02-23 23:28] tercenya commented on #210
**tl;dr**: Using `#unsafe_send_file` from [216](https://github.com/hanami/controller/pull/216) will sidestep the issue for now, but this the reason I opened this issue separately was to discuss whether there should also be a `#send_file!` version that allows you to have the benefits of the whitelisted path checking, without the downside of unwanted route cascading.

long version:

I've made some b

[2017-02-27 08:38] #213 closed

[2017-02-27 15:44] #211 closed

[2017-02-28 12:00] jodosha commented on #208
@absrd It's since a few days that I'm back to this issue over and over, trying to debug and understand all the implications of the possible scenarios.

If exceptions are NOT handled, that means the action won't suppress it. If an exception is raised, then it should be logged in `env['rack.errors']`.

---

May I ask you what are you trying to achieve? Thanks.

[2017-02-28 12:48] absrd commented on #208
@jodosha We're handling exceptions higher up in the stack. Our stack consists of several Hanami applicatons that we propagate to from the root of the stack. Those several Hanami applications have similar exceptions and are thus handled centrally. Any exception that we don't handle is logged manually to a custom logger.

We only want logs from rack whenever the startup configuration fails.

[2017-03-01 07:53] #210 closed

[2017-03-12 17:05] aarondufall opened #222 "#send_file doesn't send pdf's correctly"
I'm trying to use `#send_file` to send a pdf document to the browser with the intention that the pdf will be open in the browser window. All I end up with is a gray dot.

![image](https://cloud.githubusercontent.com/assets/1779992/23833896/20faf982-070a-11e7-9d1a-af5529c4fc70.png)

I also tried using `#send_file_unsafe` and got the same behavior.

Here is a code sample that will cause the problem.

[2017-03-12 17:09] aarondufall opened #223 "Sending file from an IO Buffer"
Is it possible to send a file directly from an IO Buffer?

I know `#send_file` doesn't support this behavior, but this is what I'm trying to do.

Example:

[code]

[2017-03-12 19:06] AlfonsoUceda commented on #222
Hi @aarondufall

Thanks for use Hanami ;) This problem is caused because of Content Security Police header.

We use CSP values by default, you can check the values generated: https://github.com/hanami/hanami/blob/master/lib/hanami/generators/app/application.rb.tt#L201-L251

The header you have to change is `object-src 'none'` to `object-src 'self'` (check is this is the right value for you, but it

[2017-03-12 19:06] #222 closed

[2017-03-14 11:44] jodosha commented on #223
@aarondufall We don't support it yet.

What happens if you do one of the following things?

[code]

or

[code]

Thank you.

[2017-03-20 09:54] jodosha opened #224 "Migrate from Minitest to RSpec"
A few rules to follow:

  * If you want to work on this, please leave a comment here. We want to avoid many people to work on the same task.

  * We expect this migration to happen within a week from now.

  * Do not change the tests, only migrate from Minitest to RSpec syntax. If not sure, please ask here.

  * Do not remove the old tests, only add the new ones.

  * Make CI build to use RSpec te

[2017-03-26 13:40] jodosha commented on #224
I'm taking care of it-

[2017-04-03 01:21] aarondufall commented on #223
Thanks @jodosha that works fine 👍

[2017-05-04 13:59] vladra opened #225 "Detected MIME/format changed from 0.9 to 1.0"
During migration to Hanami 1.0 (from 0.9), I've noticed that now my `json` actions require to specify `self.format = :json` or response will be returned as `html` otherwise.

Accordingly to gitter chat with @jodosha , it seems that bug could be introduced in #206 or #191

[2017-05-04 16:21] jodosha commented on #225
@vladra Thanks for reporting this. It would be really helpful if you can report a dump of a Rack env instance that used to work. Thank you very much.

[2017-05-05 19:07] mereghost commented on #225
More info from gitter: the `Accept` header was `application/json,text/plain,*/*`

[2017-05-09 17:38] vladra commented on #225
I've tried to write test that fails for hanami/controller, but wasn't able to unfortunately.

Problem I have is coming from `Hanami::Action::Mime#best_q_match`

Incoming header is `"application/json, text/plain, */*"`, available mimes is `["application/json"]`

Then values are determined as `[["application/json", 1.0], ["text/html", 1.0]]`. Sorting keeps order same, and taking last value results i

[2017-05-09 20:24] vladra commented on #225
Btw using not patched rack method best_q_match works fine, because it is picking first match (in hanami it is last match)

[2017-05-09 21:36] mereghost commented on #225
Heya @vladra , thanks for investigating the issue. I took a quick look and using rack's implementation of `best_q_matches` breaks a couple of tests on `controller`.

By the HTTP spec when no `q` value is passed the server can return any of the formats requested and because the `Accept`header said it can return whatever (`*/*`) so `controller` is returning `text/plain` as it's its current default f

[2017-05-10 06:40] vladra commented on #225
@mereghost sorry, I forgot to provide link to failing test example 🙂

https://github.com/vladra/controller/commit/ee3a724a5f4451323b82b1369be550b7841e3a83

well, available mimes are set to `application/json`, so I'm not sure that it is correct behaviour to return `text/html` in response. And, as I said, Racks `best_q_mathces` method returns correct result, because it takes first value from array o

[2017-05-11 12:18] kbaba1001 commented on #209
I did as follows.

define `apps/web/validations/base.rb`, next.

[code]

in, `apps/web/application.rb`

[code]

[code]

[2017-05-12 04:33] diawl opened #226 "validation symbolises params but only in test env"
I have an endpoint accepts messages from a queue.
If I use the following messages in post request with postman(post body format is raw, application/json):
[code]
in my controller, `params[:Records]` will give me:
[code]
all keys are still string like input.
In my unit test, I have params and action like below:
[code]
if I call the action, I will get:
[code]
All keys are symbolised.

I found out th

[2017-05-12 13:51] mereghost commented on #226
Heya @diawl ! Thanks for your report. A couple of questions:

- What is the version of controller that are you using?
- Did you setup a body parser on your hanami application?

[2017-05-14 23:40] diawl commented on #226
hi @mereghost

to answer your questions:

- I'm using `hanami-controller (1.0.0)`.

- I didn't know about parser until you mentioned it. Then I searched `parser` in my codebase, here is something I found might be related, it's in application.rb:
[code]

[2017-05-16 13:36] vladra commented on #225
Guys, any suggestions on this?

I could invest some time into this, but not sure in what direction to move.

To conclude:

- bug happens only if `default_response_format` is set. Check failing test example
- original Rack `best_q_match` method returns correct result to me (first from array)
- when I specify `accept :json`, it seems `default_response_format` adds also html to the array of possible

[2017-05-16 14:34] mereghost commented on #225
That the matches looks kinda weird is true. I've been checking this for the past day and there's no easy answer as per the [Accept Header Spec](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html) without a `q` value any of the higher available types can be returned.

Also, rack's `best_q_matches` breaks controller specially on jruby it seems. I'll do some more tests and report any findings he

[2017-05-16 17:09] mereghost commented on #226
@diawl If you call `params.validate` do you get the correct behaviour?

[2017-05-16 18:10] vladra commented on #225
I investigated it a bit and it looks like PR #170 to support old IE is breaking this. Can you check please?

Without those line to support IE<=8, default response wont be added to the array of allowed mime types. Check #167 comments.

Cause the main problem in my opinion is that Hanami allows response to be html format, despite me forbidding this (thats the role of `accept :json`, right?)

If you

[2017-05-16 19:36] mereghost commented on #226
@diawl I implemented a fix for your problem. Could you check if it fixes your problem?

[2017-05-16 23:52] diawl commented on #226
@mereghost
It works well if I call `params.valid?`
This is the only validation method I called.

I will check the commit and come back to you soon, thank you.

[2017-05-17 00:14] diawl commented on #226
@mereghost I tested your commit. It works well. Params are whitelisted and symbolised properly.

[2017-05-17 20:54] vladra commented on #225
I've tried to fix this bug, limiting IE8 case by user agent (case described above), so it is not globally applied for all cases

My test is passes now, but [this test fails then](https://github.com/hanami/controller/blob/master/test/action/format_test.rb#L64) 😕

It's logical to me though. It wan't failing only because `default_response_format` was not set. Setting `default_response_format` to any

[2017-05-17 21:02] mereghost commented on #225
@vladra Tanks for investigating further. I'll take a look at your findings and keep you posted.

[2017-05-17 21:10] vladra commented on #225
@mereghost thanks, looking forward

one more thing to say so you have full information.

I've just added IE8 specific test (based on this headers [1](https://developer.mozilla.org/en-US/docs/Web/HTTP/Content_negotiation/List_of_default_Accept_values)). And guess what, it is failing with current `best_q_match` implementation (and with my code).

Adding  `default_request_format :html` will make test

[2017-05-18 15:10] bbonislawski commented on #224
@jodosha are you taking care of it? I can take it if you're not

[2017-05-18 19:10] mereghost commented on #225
@vladra Quick clarification: did your action had an `accept :json`? The test you created had one, but I'm trying to cover all bases here.

[2017-05-19 06:35] vladra commented on #225
@mereghost yes, action has `accept :json` inside. This action returns `json` only. Let me know if you need any help

[2017-05-25 14:37] jodosha commented on #224
@bbonislawski Thank you, but I just noticed your help offer. In the meantime I finished the porting: please help to review #228. TY!

[2017-05-29 11:52] dikond commented on #225
Guys, does [this guide](http://hanamirb.org/guides/actions/mime-types/) relevant? I've read **Whitelisting** paragraph and expected that if in my action it will be
[code]
and my request headers will have
[code]
the server would return `406 Not Acceptable` status, but it returns `status 200` with
[code]

Is this intentional behavior? As far as I understand, Chrome automatically adds `*/*` and we ge

[2017-05-30 15:35] mereghost commented on #225
@dikond If you have a `*/*` on your accept header, you're basically saying that you accept anything the server wishes to return. If you remove the media range, then it should return a `406`.

[2017-05-30 15:36] mereghost commented on #225
@vladra I'm working on a fix for this, but it turned to be way more convoluted than just picking first or last. Also, it seems that Rack 2.0 went with our `last` call instead of with first.

[2017-05-31 13:26] vladra commented on #225
@mereghost thanks, let me know if you need my help

[2017-06-05 10:08] jodosha commented on #224
Implemented by #228

[2017-06-05 10:08] #224 closed

[2017-06-05 10:38] #226 closed

[2017-07-04 15:21] jduarte opened #230 "Is it possible to use it with Rails Router?"

[2017-07-05 08:15] davydovanton commented on #230
@jodosha could you help us? :)

[2017-07-05 15:40] TiteiKo commented on #230
@jduarte I'd say yes, as hanami actions are rack-compatible

Try doing something like
[code]

[2017-07-05 15:49] jduarte commented on #230
That is just great, will try that out and write here the outcome! Thanks

[2017-07-05 19:03] jodosha commented on #230
@jduarte Hi, just be aware of the fact that Hanami actions are mutable. Our router, creates a new instance of an action for each incoming request. Please make sure to achieve the same behavior with Rails behavior.

Is there any reason why you can't (or won't) use `hanami-router` for the purpose? If you want to use Hanami actions within the context of a Rails app, you can consider:

[code]

And in

[2017-07-05 21:47] jduarte commented on #230
@jodosha this is much cleaner to implement than what I thought. I will start a new project in a few days and I'll surely test it out. I love the way Hanami actions are built as they are much more testable and understandable in the long way when compared to Rails controllers/actions approach but I still need to use Rails as a framework.

Thanks for the insight

[2017-07-10 09:39] #230 closed

[2017-07-10 10:54] jodosha commented on #225
Fixed by #229

[2017-07-10 10:54] #225 closed

[2017-07-31 13:44] #223 closed

[2017-07-31 14:19] jodosha commented on #209
I tried to integrate this feature on today, but it wasn't possible.

The block accepted by `Hanami::Action::Params.params`, is yielded by `Hanami::Validations.validations`. This last method is designed to decorate and forward the block to build `Dry::Validation::Schema` (or `Dry::Validation::Form`).

That means any other feature from `hanami-validation` cannot be applied in the context of the `par

[2017-07-31 14:19] #209 closed

[2017-08-22 14:31] KamilLelonek opened #231 "How to validate array as a body?"
My example body is:

[code]

and my validation is:

[code]

However, I get the error like:

[code]

Where exactly is the problem?

[2017-08-31 21:17] davydovanton commented on #231
@KamilLelonek could you try this solution?
https://github.com/hanami/validations#array

[2017-09-01 07:48] beauby commented on #231
Try replacing `required(:id) { format?(UUID_REGEXP) }` with
[code]

[2017-09-02 16:26] sarahhenkens commented on #22
@jodosha The article is great on explaining what might go wrong. But what about a solution? Imagine a user model with a `username` and `email` field, both of these need to be unique.

I do a POST and submit duplicate content for both fields. Relying on constraint exceptions will only trigger the first found constraint violation. Resulting in only it invalidating the first field. The user has to su

[2017-09-02 16:31] beauby commented on #22
@sarahhenkens I believe you meant to comment on #232.

[2017-09-06 14:10] jodosha commented on #231
@KamilLelonek Does these suggestions work for you?

[2017-09-06 14:11] KamilLelonek commented on #231
I haven't had a chance to try it yet. How to use that with `params`?

[2017-09-06 14:11] jodosha commented on #208
I'm closing this as we can't take action w/o breaking the existing behavior.

[2017-09-06 14:11] #208 closed

[2017-09-06 14:13] jodosha commented on #231
@KamilLelonek Thanks for getting back quickly. You put inside the `params` block.

[2017-09-06 14:21] jodosha commented on #22
@sarahhenkens Thanks for your input. 😄 Given the schema of a validation is totally decoupled from any entity/repository/database. How could be the syntax to indicate the uniqueness of a given field?

[code]

In the case above `:user` maps the expected params, not an entity.

[2017-09-06 16:15] sarahhenkens commented on #22
The way I've implemented it in my project at the moment is:
[code]

I've added a `unique?` predicate that is currently coupled to my model layer.

[2017-09-06 17:13] beauby commented on #22
I've been doing roughly the same as @sarahhenkens.

[2017-09-07 07:31] beauby commented on #22
@jodosha I'd be in favor of an example in the docs, as providing a standard predicate would force to many assumptions. My main concern was that in #232, the discussion seemed to imply that the maintainers would label uniqueness validations as "bad practice", whereas it is kind of unavoidable in certain cases.

[2017-09-07 14:47] jodosha commented on #22
@beauby the only problem that I have by adding to the guides is that everything documented there will eventually become the "Hanami way". Honestly I won't push for that uniqueness validation.

WDYT?

[2017-09-08 11:16] beauby commented on #22
@jodosha I may be missing something but I don't see any other solution than uniqueness validations for informing the user about which field broke a uniqueness constraint (except when there's only one). Hence, I'm advocating for uniqueness validations to become the "Hanami way". FWIW, I remember discussing this with @solnic who held the same views.

[2017-09-08 11:21] AlfonsoUceda commented on #22
@beauby @jodosha we can document the uniqueness validation but this validation will have to be implemented by the user because it will be coupled with the repository. This is the only validation I see, we can suggest to be coupled with a repository. what do you think?

[2017-09-08 15:59] jodosha commented on #22
@beauby I agree that using exceptions for control flow isn't ideal. But what is worst is to rely on a race condition to validate data.

I've seen too many Rails apps with an _uniqueness validation_ without the corresponding database constraint. I just want to avoid this situations in Hanami projects.

---

How to move on from this? I have a few suggestions:

  1. I'm working on a spike to eventual

[2017-09-15 03:51] badoet opened #233 "Specify View in Controller"
Currently it does the orders#index controller will automatically use orders/index view
can i change this?
so that orders#show and orders#index will both use orders/show view?

[2017-09-17 11:18] KamilLelonek commented on #231
I'm closing this issue as we don't need this anymore so I don't have a chance to check it.

[2017-09-17 11:18] #231 closed

[2017-09-18 07:10] jodosha commented on #233
@badoet Hi, do you know you can specify a different template to render? http://hanamirb.org/guides/1.0/views/templates/#custom-template

Would this work for you?

[2017-09-18 08:18] badoet commented on #233
yeap i found that i can get the view to point to the same template. but sometime the template require some functions in the view. and this leads to code duplication.
i need to copy the bunch of functions used in the templates across the different view.
so this solution is not ideal, i would say.

[2017-09-18 08:18] beauby commented on #233
@badoet You could define those methods in a module that you include in each view.

[2017-09-18 08:23] badoet commented on #233
true enough. im just checking if anyone feel the same way as i do on the need for more flexibility for this. because it will affect your code structures as well and potentially create less codes to solve this issue.
if majority think this is a non-issue, i would oblige

[2017-09-18 16:49] cllns commented on #233
Yea, I think a very popular use-case for this would be `update` using the `edit` view, and `create` using the `new` view (both gender redirect on success, but render a view when there's a problem).

[2017-09-22 11:59] rybex opened #234 "Deep symbolization of params with nested array of hashes"
Hi,

Hanami uses the `Hanami::Utils::Hash` to parse controller's params which doesn't symbolize nested array of hashes. IMHO we should symbolize them to keep consistency. I have prepared small [PR](https://github.com/hanami/utils/pull/232) in the Hanami utils lib to fix it. Does it make any sense?

[2017-10-03 09:30] jodosha commented on #234
@rybex Would you mind to use `Hanami::Utils::Hash.deep_symbolize` instead of `#symbolize!`. Thanks.

---

I'm closing this because of: https://github.com/hanami/utils/pull/232#issuecomment-333568195

[2017-10-03 09:30] #234 closed

[2017-10-05 21:55] 7even opened #235 "Action params incompatibility with hanami/model"
Hi.

It seems like `Hanami::Action::BaseParams` is not really compatible with the `has_many` association in hanami/model. When I pass `params` in my action to the repository method that creates both a parent object and it's child objects I get a `Hanami::Model::Error: undefined method 'reject' for #<Web::Controllers::Authors::Create::Params:0x00007ff722746ff0>`.

It seems like this can be fixed by

[2017-10-09 08:23] jodosha commented on #235
@7even Hi and thanks for reporting this problem.

I don't agree.

As of Hanami 1.1.0, `Params` will have 12 public methods:

[code]

If we include `Enumerable` we would have 67 public methods:

[code]

67 implicit, non-tested public methods. This is why apps breaks during their lifetime.
Considering Params as an enumerable is conceptually wrong (sort of Primitive Obsession), and it leads to tight

[2017-10-09 10:54] Strech opened #236 "REQ/RES Content-Type header clash"
Hi guys,
First of all wanna say that project you've built is awesome, lightweight and clear.

### Issue

I've found that inside action I can't get easy access to the `@_env['CONTENT_TYPE']` like I can for `accept`. I start to dig and I've found 2 things.

1. [Hanami::Action::Request](https://github.com/hanami/controller/blob/master/lib/hanami/action/request.rb) is aimed to keep compatibility to th

[2017-10-09 12:35] jodosha commented on #236
@Strech Hi and thanks for writing to us. It's not clear to me if this is a bug report (from the title looks so) or a feature proposal (from the body of this ticket).

Can you please provide a couple of examples of what you expect to see? Thanks.

[2017-10-09 14:08] Strech commented on #236
@jodosha Sorry for a mess, I think it's kind-of design issue + missing feature. Will post example a bit later.

[2017-10-10 16:12] Strech commented on #236
## Issue

Rack application

[code]

Hanami application

[code]

As you can see in case of Rack `content_type` is representing request content type, but in case of Hanami - response content type. This means, that `Hanami::Action::Request` differs here, but it should guarantee compatibility (`An HTTP request based on top of Rack::Request. This guarantees backwards compatibility with Rack.`)

[2017-10-10 16:16] Strech commented on #236
## Missing feature (plz read issue ⬆️)

[code]

So Hanami provides a way to have guard about `Accept` header, but don't for `Content-Type` header. I think it's crucial in case of APIs (this issue I face with project I'm working now)

And because of the issue above it's not so easy for me to came up with any-kind of PR

[2017-10-11 23:28] 7even commented on #235
@jodosha thank you for such a detailed answer.

Yeah, I see your point. Although I wouldn't say these 67 methods are non-tested given that the `#each` method is tested, and all `Enumerable` methods solely rely on it - but using input coercion definitely should reduce coupling and make public interface of repositories more universal.

Should I close this issue and open it in `hanami-model` then?

[2017-10-16 12:03] graywolf opened #238 "It's not possible to iterate Hanami::Action::CookieJar"
When I want to know what cookies are set, I tried

    cookies.each { |k, v| ... }

but got

    NoMethodError: undefined method `each' for #<Hanami::Action::CookieJar:0x00007f63a1477488>

Is there a technical reason why `CookieJar` doesn't have `#each` or is it just oversight?

[2017-10-18 04:20] Strech commented on #236
@jodosha WDYT?

[2017-10-23 10:24] jodosha commented on #238
@graywolf We're conservative with the public API: only the methods that we recognize as useful are carefully added one by one. Your request makes sense.

This approach helps us to maintain the bare minimum set of methods that are actually useful to people.

I've implemented this enhancement with #239 and it will be released with Hanami `v1.1.0`.

[2017-10-23 12:57] jodosha commented on #238
Implemented by https://github.com/hanami/controller/pull/239

[2017-10-23 12:57] #238 closed

[2017-10-23 13:28] jodosha commented on #235
Implemented by https://github.com/hanami/model/pull/462

[2017-10-23 13:28] #235 closed

[2017-10-31 12:51] nerdinand opened #240 "`after` callbacks not executed when using `send_file`"
It seems that `after` callbacks are not executed when using `send_file` in the action. `before` callbacks are being executed.

Here's an example:

[code]

I'm trying to delete the file after it's been downloaded in `clean_up`. Each file should only be downloadable once.

When using `after :clean_up`, `clean_up` is never called. If I try `before :clean_up` however, it is called.

[2017-10-31 16:33] nerdinand opened #241 "Test returns 405 when using `send_file`"
When using `send_file` in an action, then running the corresponding test, the test fails with `405 Method Not Allowed`.

Minimal example:

[code]

[code]

Running `be rspec spec/web/controllers/books/show_spec.rb` returns:

[code]

[2017-10-31 16:40] nerdinand commented on #241
I did some digging. It seems the `@env` variable in https://github.com/hanami/controller/blob/94acad3d5878a5513a1b144067ba14dd7ff50ec6/lib/hanami/action/rack/file.rb#L30
looks different in tests than in the normal code. Adding

[code]
in that method fixes the test.

[2017-11-12 14:28] nerdinand commented on #240
Any takers for this one?

[2017-11-12 19:22] cllns commented on #240
@nerdinand It looks like this is because [`send_file`](https://github.com/hanami/controller/blob/master/lib/hanami/action/rack.rb#L378-L388) calls [`halt`](https://github.com/hanami/controller/blob/35e6951a4ee244aeedecce71b89b3462fb5a19cd/lib/hanami/action/throwable.rb#L80-L125), which seems to bypass the `after` callbacks.

Are you willing to write a failing spec for this? That's the first step t

[2017-11-12 21:10] nerdinand commented on #240
@cllns that much I already gathered, investigating the code. I don't have much time these days, only just enough to report bugs. But maybe I'll get around to it...

[2017-11-13 22:04] nerdinand commented on #240
Alright, #242 reproduces this. Not sure the spec is in the right place, but it proves the problem...

[2017-11-20 12:03] jodosha commented on #240
@nerdinand Would you mind to try #243 and see if it fixes the problem for you? Thanks.

[2017-11-20 13:21] jodosha commented on #241
@nerdinand Thanks for reporting this, can you please review if the fix works for you? https://github.com/hanami/controller/pull/244

[2017-11-20 13:35] jodosha commented on #236
@Strech Sorry for the late reply. I agree that the MIME types handling is mixed up both in the DSL and in the instance level methods. Would you like to implement that extra `.content_type` feature? TY.

[2017-11-20 15:36] Strech commented on #236
@jodosha Yes, would love to implement `content_type` feature 👍

But I need a bit of your guidance with `Hanami::Action::Request#content_type` what are we gonna do with it? So far it makes feature complicated because I will have to store `content_type` guard value somewhere else ... should we break compatibility or make it somehow and deprecate/change the behaviour of existing code later?

[2017-11-21 15:02] jodosha commented on #236
@Strech `Action#content_type` is the computed value, where `Request#content_type` is the requested `Content-Type`. I think we can safely restore it (instead of raising an exception).

[2017-11-21 15:02] #240 closed

[2017-11-21 15:03] #241 closed

[2018-02-13 01:12] thoiberg opened #249 "How to supply the request body when testing a PUT action?"
Hi, I've got a question around unit testing the request body for PUT/POST endpoints in Hanami. I've got a PUT action that takes the body from the request and forwards it on to another system in the interwebs and I can't figure out how to supply the `request.body` to the action command.

Source code:
[code]

Test code:
[code]

This is failing when I run the tests because the `request.body` method i

[2018-02-18 20:31] AlfonsoUceda commented on #249
Hi @thoiberg

Do you have a template? if not you can bypass templates using the following line:
[code]
can you tell me if this works?

[2018-02-27 14:42] jodosha commented on #236
Implemented by #247

[2018-02-27 14:42] #236 closed

[2018-03-11 15:54] AlfonsoUceda commented on #249
@thoiberg did it work for you?

[2018-03-29 13:11] jodosha commented on #249
@thoiberg During the tests, anything that is passed to `Action#call` is interpreted as the Rack env. The `request` object is a `Hanami::Action::Request`, which inherits from `Rack::Request`: for its body it requires a `"rack.input"` key to be an `IO` object.

To recap:

[code]

[2018-03-29 13:11] #249 closed

[2018-04-05 13:01] jodosha commented on #233
I'm closing this as not immediately actionable.

---

The issue is marked "for future consideration" because this is an important aspect of the request/response cycle, **especially** for failed form submissions.

I resisted the temptation to design actions with `if`/`elsif`/`else` conditionals. Right now the framework decides which view to render. I really love to see a kind of pattern matching im

[2018-04-05 13:01] #233 closed

[2018-04-11 19:24] boazsegev commented on #23
I love the idea of using litecable, even though it requires the ActionCable client (javascript).

As for raw WebSockets, I invite you to help refine the [WebSocket Rack Extension Draft](https://github.com/boazsegev/iodine/blob/master/SPEC-Websocket-Draft.md) in the [iodine server branch](https://github.com/boazsegev/iodine).

I'm the author for the iodine server and I'm working on redesigning the

[2018-04-16 09:52] jodosha opened #253 "Remove body cleanup for HEAD HTTP requests"
`Hanami::Action` 1.x empties the body if the HTTP request is using HEAD verb.

While this is formally correct, and makes the action "full featured", we have the same control in `hanami-router` and `hanami`. This makes a total of three times for each request. The idea is to use `Rack::Head` from `rack` gem instead of these custom controls.

Developers who are using `hanami-controller` as standalone

[2018-04-16 09:58] jodosha opened #254 "Deprecate `Hanami::Action#parsed_request_body`"
Body parsers will be [removed](https://github.com/hanami/router/issues/163) from the internal of the framework in favor of a [Rack middleware](https://github.com/hanami/router/issues/162).

There isn't should be anymore distinctions between params and parsed body, as both are already merged in `Action#params`.

  - [ ] Use `Hanami::Utils::Deprecation`

---

This change **MUST** go to `develop` bra

[2018-04-16 10:07] jodosha opened #255 "Remove `Hanami::Action#parsed_request_body`"
`Hanami::Action#parsed_request_body` is deprecated in 1.3 and should be removed in 2.0.

---

This change **MUST** go to the `unstable` branch.

**NOTE:** Due to the changes that `unstable` branch contains `Hanami::Action#parsed_request_body` is referenced as `Hanami::Action::Request#parsed_body`. This is the method to be removed.

---

Ref https://github.com/hanami/controller/issues/254
Ref https

[2018-04-16 10:24] jodosha opened #256 "Make `Hanami::Action::{Request,Response}` `#session` and `#flash` to raise `Hanami::Controller::MissingSessionError` when session is not configured"
With https://github.com/hanami/controller/pull/250 (v1.2.0) we introduced a new exception (`Hanami::Controller::MissingSessionError`) which is raised when a dev tries to access `Action#session` and `Action#flash` when the HTTP session isn't configured.

In 2.0 (`unstable` branch), the access to `session` and `flash` will be moved from `Hanami::Action` to `Hanami::Action::Request` and `Response`. T

[2018-04-16 10:47] jodosha opened #257 "Rename `Hanami::Action.content_type` into `.accept`"
With https://github.com/hanami/controller/pull/247 (v1.2.0) we introduced `Hanami::Action.content_type` which is a DSL that restrict the access based on request's `Content-Type` of the payload and halt with `415 Unsupported Media Type` in case of mismatch.

On the other hand we already had `.accept` (v0.1.0), which was built to do the exact same thing, but it targets `Accept` header instead.

To r

[2018-04-16 10:50] jodosha opened #258 "Ensure `Hanami::Action#initialize` to be compatible with `dry-auto_inject`"
Ditto.

---

This change **MUST** go to `unstable` branch.

[2018-04-23 10:22] nerdinand opened #260 "Regression: Return of the double-flash bug"
It seems #196 has returned to haunt us.

Here's a minimal test app to reproduce this:
[flash_test.zip](https://github.com/hanami/controller/files/1937644/flash_test.zip)

1. Visit http://localhost:2300/. You will see:
![20180423_121750](https://user-images.githubusercontent.com/113440/39120949-6423dc84-46f0-11e8-8311-9adde3ebe13b.png)
2. Click on Edit. You will see a form:
![20180423_121850](https

[2018-04-26 13:41] jodosha opened #264 "Remove body cleanup for HTTP responses that doesn't require a body (e.g. 204)"
`Hanami::Action` 1.x empties the body if the HTTP response doesn't require a body (e.g. 204).

While this is formally correct, and makes the action "full featured", we have the same control in `hanami-router` and `hanami`. This makes a total of three times for each request. The idea is to give responsibility to developers to produce a compliant HTTP response, or to use a Rack middleware to ensure

[2018-05-08 05:07] thoiberg commented on #249
Sorry I asked the question and then _totally_ forgot about it 😅. Setting `rack.input` on the params object has worked for me, thank you very much @AlfonsoUceda and @jodosha 🙇

[2018-06-11 23:05] cllns opened #266 "Flash #empty? returns true when it's not (after a re-direct)"
Here's an example app illustrating the problem: https://github.com/cllns/flash-error-example-app

If you visit `/books`, you're redirected to `/home` and you'll see this rendered (from both the layout template and view template:

[code]
Empty should not be true if there are values in the flash.

I tried to figure this out for a couple hours and I'm stuck.

I added some debugging statements to `Han

[2018-06-12 08:59] jodosha commented on #266
@cllns Can you please take care of this? Thanks.

[2018-06-18 15:05] GustavoCaso commented on #260
I'm having a look at this one.

Looks like the current behavior store the flash from the last request I imagine is to access it for redirects.

Maybe we can have a way of marking when a value has been accessed, and since flash message are meant for one use we could delete then in the next iteration.

WDYT? @jodosha

[2018-06-18 15:58] GustavoCaso commented on #260
I have looked into a little more looks like the behavior is different depending on a redirect or a new request.

By adding this to the `Update` action from the sample app:
[code]

Works as expected.

@jodosha I'm guessing the users need to experience same behavior is they are using `redirect` or normal request cycle, right?

[2018-06-19 10:46] GustavoCaso commented on #260
@nerdinand we have confirmed that problem exists. Thank you for opening the issue ❤️

We are working on the solution. I will try opening a PR ASAP.

[2018-07-03 15:03] GustavoCaso commented on #254
Closed by https://github.com/hanami/controller/pull/262

[2018-07-03 15:03] #254 closed

[2018-07-03 15:05] GustavoCaso commented on #255
Closed by #261

[2018-07-03 15:05] #255 closed

[2018-07-03 15:05] GustavoCaso commented on #253
Closed by #263

[2018-07-03 15:05] #253 closed

[2018-07-03 15:14] GustavoCaso commented on #264
Closed by https://github.com/hanami/controller/pull/268

[2018-07-05 07:54] #264 closed

[2018-07-06 10:55] GustavoCaso commented on #266
Fixed in https://github.com/hanami/controller/pull/267

[2018-07-06 10:55] #266 closed

[2018-08-02 15:00] jodosha commented on #260
Fixed by #267

[2018-08-02 15:00] #260 closed

[2018-08-07 22:57] boazsegev commented on #23
@jodosha, thank you for allowing me to join the discussion.

Yes, iodine was implementing variations on these specifications for a number of years and helped gather the experience that tested the API's design.

[The Agoo server](https://github.com/ohler55/agoo) also implements the specifications, though the more established servers (such as Puma and Passenger) are still considering the specificati

[2018-08-09 15:49] jodosha commented on #23
@boazsegev

Do you mean that a) you'd pick LiteCable as a user that wants to build WS with Iodine or b) Iodine will work out of the box with LiteCable JavaScript code?

Sorry if the question is silly, but I'm not familiar with Iodine. Thanks. 👍

[2018-08-10 13:27] boazsegev commented on #23
@jodosha

I meant that I'd pick LiteCable as a user that wants to build WS with Iodine.

Iodine doesn't enforce any WebSocket sub-protocol on the user. It supports raw WebSockets to allow for maximum flexibility and separation of concerns.

[2018-09-21 07:44] jodosha opened #273 "Hanami::Action::Flash to use swappable JSON backend"
As of `hanami-utils` `v0.8.0` we [introduced](https://github.com/hanami/utils/blob/master/CHANGELOG.md#v080---2016-07-22) `Hanami::Utils::Json`, which is a module that abstracts JSON backends.

It would be great if `Hanami::Action::Flash` would use it for JSON serialization, instead of going directly to Ruby stdlib `JSON` module.

---

Ref https://github.com/hanami/utils/pull/142
Ref https://githu

[2018-09-23 12:58] GustavoCaso commented on #273
@jodosha I can take care of this one

[2018-10-08 12:36] GustavoCaso commented on #273
Fixed in #275

[2018-10-08 12:36] #273 closed

[2018-12-02 15:31] GustavoCaso commented on #256
Sorry, that was a wrong click 😄

[2019-02-09 21:17] greggilbert opened #285 "Flash message appears twice (redux)"
Hey. Following #196, #260, etc., I'm having the double flash issue again in Hanami 1.3.1 (also 1.3.0).

[code]

[code]

As with some of the previous tickets, adding a `before { flash.clear }` fixes it. Am I not doing something right here?

[2019-02-12 11:15] jodosha commented on #285
@GustavoCaso Would you mind to check if this is a flash regression? Thanks.

[2019-02-12 11:16] jodosha commented on #285
@greggilbert What's the previous Hanami version you were on?

[2019-02-20 15:02] mcansky opened #287 "Exception Handling in Production"
While documentation describes how to add custom exception handling, I had trouble figuring out why and how to get exceptions from a Redis call to be caught properly by the custom exception handler in the controller using the entity where the call happens.
So far my only success was in adding a rescue block in the entity at the specific place where I would need it. That feels odd to me, but I might

[2019-02-24 23:33] GustavoCaso commented on #285
@jodosha Of course. I will find some time this week to have a look at it.

@greggilbert would be able to provide a copy of your Gemfile?

[2019-02-28 15:37] kaikuchn commented on #287
There's a snippet in the making that may be just what you need: https://github.com/hanami/snippets/pull/10

[2019-03-01 08:09] jodosha commented on #287
@mcansky I'm sorry about the confusion. I see two problems here: 1. the expectations regarding this feature 2. how to make it work.

---

Let me first clarify the goal of _exception handling_ feature. It's meant to catch an exception and turn it into a HTTP error status (usually 4xx). Because it's managed (aka expected), you usually don't want to report it to Sentry, but sent unmanaged (aka unexpe

[2019-03-01 20:58] mcansky commented on #287
thanks both for your answer, I think indeed there is a bit of confusion about what we all mean and expect.

Let me take a clearer example.

Let's say we add a feature that does some work with an API, pull some data in as JSON, unmarshall it into objects and .. boom, for some reason the data in the JSON isn't as expected and an exception is raised because the code was never meant to handle this cas

[2019-03-03 09:55] kaikuchn commented on #287
I'm confused about this:

If the exception does not bubble up, then it must be handled by someone and you would not get a 500. The fact that you get a 500 page shows, that Hanami is handling the exception at the controller level.
It just seems like your customer handler is not triggered..
But your code looks fine. Maybe the exception you're raising isn't a kind of `StandardError`?

configure :deve

[2019-03-03 20:31] mcansky commented on #287
@kaikuchn : most exceptions in Ruby and its frameworks are inheriting from StandardError afaik, so that should go ok (I suppose ?).

I will do another round of checks ... and report back.

[2019-04-03 06:28] joelvh opened #290 "RuntimeError: can't add a new key into hash during iteration"
Came across this error several times today. I'm not sure if it's due to recent changes on my  end or the amount of requests we're sending to our Hanami app. Is this a logic/threading issue in Hanami or something on my end? My testing hasn't pinpointed the issue yet.

[code]

[2019-04-03 11:54] jodosha commented on #290
@joelvh I'm sorry about this problem. Can you please share the action code with us? Thanks.

[2019-04-11 15:45] joelvh commented on #290
Hi @jodosha, I've created a GraphQL API endpoint using graphql-ruby. As you can see from the stack trace, I've got some middlewares in there too. I will play with disabling some of those to see if it's one of those.

Would the error be a threading issue, where multiple threads are updating the same object?

Note: As far as I can tell, this is only happening in `development`, not yet noticed the is

[2019-04-28 00:46] joelvh commented on #290
So far, it seems that somehow NewRelic's middleware tracing causes the issue in my application. I also tested NewRelic without `newrelic-hanami` and it still seems to be an issue with the NewRelic agent. Anyone using Hanami v1.3.1 with NewRelic?

Tracked down most of the sources from the stack trace, mostly posting here for my reference:

https://github.com/hanami/controller/blob/v1.3.1/lib/hanami

[2019-06-27 13:01] jodosha commented on #287
@mcansky 👋 any news on this?

[2019-06-27 13:03] jodosha commented on #290
@joelvh Did you had the chance to talk with NewRelic folks about this? Is there anything that we can do here to help?

[2019-06-27 14:50] joelvh commented on #290
Hi @jodosha - I have not been  able to find the best place to get a response from them.

[2019-07-23 11:11] jodosha commented on #290
@joelvh how about a GH issue in their repo? https://github.com/newrelic/rpm

[2019-12-17 10:57] DangerDawson commented on #287
@mcansky Did you manage to solve this?

[2019-12-18 16:01] kaikuchn commented on #287
@DangerDawson do you have the same problem?

[2019-12-18 16:06] DangerDawson commented on #287
I noticed that we were getting 500 errors, and not receiving any Honeybadger notifications for certain scenario’s in production.

I plan to look into this later this week and see if I can pin point the problem, and report back.

[2019-12-27 16:26] mcansky commented on #287
apologies everyone it looks like I moved on into another project and could not report back;

[2020-01-06 13:52] DangerDawson commented on #287
So I have got to the bottom of what is happening, any exceptions being raised in the controller produces both a stack_trace and send the exception message to HoneyBadger, although if the exception happens in the view object it does not.

Is this expected behaviour?

[2020-01-08 15:45] kaikuchn commented on #287
Docs say this:

However, as can be seen in [Callable](https://github.com/hanami/controller/blob/master/lib/hanami/action/callable.rb#L66) the Rack response is prepared outside of the rescue block. And the result of `#call` is then passed into the renderer.
I.e., the view is rendered only after the action finished executing. (See [here](https://github.com/hanami/hanami/blob/master/lib/hanami/applic

[2020-01-09 12:06] DangerDawson commented on #287
So it looks as though this PR [#866](https://github.com/hanami/hanami/pull/866) is responsible for the behaviour I am witnessing, specifically this [line](https://github.com/hanami/hanami/blob/09d28ac432d73436481c023dd59b84ce9c6b58d1/lib/hanami/rendering_policy.rb#L61).

I managed to solve my specific issue by inserting the HoneyBadger middleware in my `config.ru`

[code]

Although I still find th

[2020-01-15 10:21] joelvh commented on #290
hi @jodosha I ended up using switching to Sinatra with our GraphQL API. Will revisit Hanami when the revamp with dry-rb is done. Looking forward to that!

[2020-01-15 10:21] #290 closed

[2020-02-02 05:05] graudeejs opened #307 "Compatability issue with hanami-controller 2.0.0.alpha1"
Hello!
I'm trying to update hanami-router and hanami-controller in one of my dev projects to 2.0.0.alpha1

One thing that I came across is that hanami controller just doesn't work as it should by rack spec (perhaps that's expected)

`Gemfile`
[code]

`config.ru`
[code]

This raises `NoMethodException` when requesting `/`.
[code]

The problem is that hanami controller doesn't return rack compatible

[2020-02-17 09:49] DangerDawson commented on #287
Any update on this?

Although I am able to receive exceptions in Honeybadger, I do not have any context, and the logs do not provide any stacktrace either.

Like I said, this is completely different behaviour from any exceptions happening before the view rendering e.g. services / controllers, which do provide a full stacktrace and context.

[2020-03-09 12:37] k0va1 commented on #307
Yep, totally agree. I have the same issue

[2020-04-23 18:34] tadejm commented on #287
We also struggled getting exceptions reported to Rollbar. They were reported for anything job related but not for request. Something was preventing the exception to bubble up so we ended up setting `handle_exceptions false` for production and fixed it.

[2020-04-23 18:48] DangerDawson commented on #287
We ended up fixing this by putting the rack middleware in config.ru e.g.

[code]

[2020-07-29 20:02] graudeejs commented on #307
After updating router to `2.0.0.alpha3` the issue is gone (didn't check `2.0.0.alpha2`)

[2020-07-29 20:02] #307 closed

[2020-08-12 19:10] megatux commented on #290
Happened here with Roda, too. Seems related to Newrelic.

[2020-09-29 04:27] tomdalling opened #328 "Is `#request` supposed to be memoized for actions?"
Looking at [the source for the `#request` method](https://github.com/hanami/controller/blob/5e7ec52331bb31267aa927a7eb7324e196291436/lib/hanami/action/rack.rb#L253) I see that it's memoized. That would indicate that action objects are intended to handle a single request only. Is this intended? I assumed that action objects were intended to be reusable for multiple requests, since `#call` takes a `

[2020-09-29 06:39] timriley commented on #328
I'll let @jodosha answer in detail, but I can say that this is now seen as undesirable from a design perspective and one of the first things corrected in the Hanami 2 version (see the unstable branch) - actions there are properly "stateless" in that no per-request information is stored.

[2020-09-29 06:51] tomdalling commented on #328
Ah, right. I just installed whatever version rubygems gave me, and forgot that the newer work is on a different branch. I see the changes now, and they look good! I'll close this one.

[2020-09-29 06:51] #328 closed

[2020-09-29 14:03] tomdalling opened #330 "Standalone actions prevent using non-keyword parameters in `#initialize` (v2)"
I just got tripped up by this:

[code]

The exception message is confusing because it sounds like `.new` expected zero arguments.

This is caused by `StandaloneAction.new` only forwarding keyword arguments to `#initialize`. Could it forward positional and block args too? I tested it quickly and it seemed ok.

Let me know if you want a PR.

[2020-09-29 14:25] jodosha commented on #330
@timriley What do you think?

[2020-09-30 07:33] timriley commented on #330
I think this makes sense! I reckon go ahead, @tomdalling — thanks!

[2020-10-09 08:50] tomdalling commented on #330
Closed by #331

[2020-10-09 08:50] #330 closed

[2020-10-30 04:29] ianks commented on #287
I agree that the default behavior is confusing and ends up being a really bad UX, since the defaults make it so your error reporting system doesn’t see 500s in production. All unhandled exceptions should go to error reporting system, yet we should be able to render custom views for these errors.

I think we’re going to have to monkeypatch this behavior for now 😞

[2020-11-18 08:10] jodosha commented on #287
Closing as stale. Feel free to reopen, in case.

[2020-11-18 08:10] #287 closed

[2020-12-01 10:09] mcansky commented on #287
so @jodosha , what's the way to handle exceptions towards an exception tracker ?

I guess the "simplest" is to plug into https://github.com/hanami/controller#exceptions-management

has a standard way to do so in an Hanami app been documented ?

[2021-03-29 11:46] arni1981 opened #343 "[2.0.0.alpha1] Uninitialized constant Hanami::Controller::Configuration (NameError)"
I'm trying this snippet from the `hanami-controller` unstable branch

[code]
and this gets me `uinitialized constant Hanami::Controller::Configuration (NameError)`

[2021-03-30 09:07] jodosha commented on #343
@arni1981 You should use `Hanami::Action::Configuration`, not `Hanami::Controller::Configuration`. This is a breaking change from 2.0.

[2021-03-30 09:07] #343 closed

[2021-03-30 09:14] arni1981 commented on #343
Yes, I had figured that out, I guess the docs are lagging behind. There are other things not working as well, or I'm not doing them correctly.

For example this doesn't work, no errors, but the configs aren't picked up.

[code]

Anyway, this isn't a big deal for me now, I just wanted to help with testing this.

[2022-05-21 06:41] timriley commented on #257
Thanks @tak1n, closing this now :)

[2022-05-21 06:41] #257 closed

[2022-08-02 00:59] timriley commented on #258
This is done already in the `main` branch.

[2022-08-02 00:59] #258 closed

[2022-08-02 02:17] timriley opened #389 "Handling `config` and other class-level macros"
In hanami-controller 1.3.x, we have the following **public class methods** available inside `Hanami::Action` subclasses:

- `before`, `append_before`, `prepend_before`, `after`, `append_after`, `prepend_after` (via the `Action::Callbacks` module)
- `expose` (via `Action::Exposable`)
- `accept` (via `Action::Mime`)
- `use` (via `Action::Rack`)
- `handle_exception` (via `Action::Throwable`)
- `param

[2022-08-02 03:34] timriley commented on #389
![](https://github.trello.services/images/mini-trello-icon.png) [Figure out what we want to do with the difference between `config` attributes and other class-level methods on Hanami::Action](https://trello.com/c/BJmxYElv/184-figure-out-what-we-want-to-do-with-the-difference-between-config-attributes-and-other-class-level-methods-on-hanamiaction)

[2022-10-10 22:03] timriley commented on #389
@jodosha I'd like to go ahead and make the changes I proposed here. Are you fine with them?

[2022-10-13 10:31] timriley commented on #389
I'm just going to go ahead and make these changes. I think they're sensible.

[2022-10-15 20:32] #389 closed

[2022-10-24 10:55] timriley commented on #256
Fixed in #379.

[2022-10-24 10:55] #256 closed

[2022-11-20 23:09] radar opened #405 "accept syntax in README no longer seems supported"
The README suggests:

[code]

But this syntax no longer appears to be supported in this gem.

[2022-11-20 23:13] timriley commented on #405
Thanks @radar, updating this README is one of our last things to do before the release :)

Looks like @solnic is onto it: https://trello.com/c/R4aGZrA3/345-update-hanami-controller-readme

[2022-11-20 23:13] #405 closed